.containerRoadmap{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:eco/v1660656655/CryptocupQatar/roadmap/Roadmap5_fiowg9.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20rem 0;
}

.containerRoadmap::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.658);
    filter: blur(15px) ;
    position: absolute;
    overflow: hidden;
}

.containerRoadmap::after{
    width: 150%;
    height: 20vh;
    content: " ";
    top: -10rem;
    filter: drop-shadow(0 0 80px rgb(0, 0, 0)) blur(30px) ;
    background-color: rgba(0, 0, 0, 0.89);
    position: absolute;
    z-index: 10;
    border-radius: 50px;
    border: 2px solid black;
}

.backgroundPrincipalRoadmap{
    width: 100%;
    object-fit: cover;
    position: absolute;
    filter: 
    contrast(120%) brightness(145%) opacity(.5);
}

.container h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 7rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    letter-spacing: 0px;
    filter: drop-shadow(0 0 40px black);
    font-family: qatarHeavy;

}

 .intro {
    padding: 100px 0;
  }
  
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul {
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    border-radius: 100px;
    position: relative;
    width: 7px;
    margin: 0 auto;
    padding-top: 100px;
    background-color:#fffffff5;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));

  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3.5px;
    transform: translateX(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: inherit;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(4rem);
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .textRoadamp p{
      color: white;
      font-size: 1.7rem;
      font-weight: 500;
      letter-spacing: 1px;
  }

  .textRoadamp span{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
    font-weight: bold;
    font-size: 2rem;
    padding-left: 1rem;
    font-family: qatarHeavy;

  }
    
  .timeline ul li:nth-child(odd) div {
    left: 45px;

  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent hsl(0 0% 100% / 0.1) transparent transparent;
    backdrop-filter: blur(1rem);

}
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -16px;
    border-width: 8px 0 8px 16px;
    border-color: transparent  transparent transparent hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);

  }
  
  time {
    display: block;
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 8px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
    font-family: qatarHeavy;

  }
  
  .iniTimeline{
    border-width: 8px 0 8px 16px;
    backdrop-filter: blur(1rem);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #7a55ff);
    height: 18px;
    width: 18px;
    border-radius: 15px;
    position: relative;
    top: 6rem;
    z-index: 1000;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
  }

  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
    
  }
  
  .timeline ul li.in-view::after {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #7a55ff);
    background-color:#fffffff5;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
    
  }

  .textRoadamp:hover{
    filter: drop-shadow(0px 0px 15px rgba(108, 3, 168, 0.637));
    transition: all 220ms ease-in-out;
}
  
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;

  }
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 330px;
    }
    .timeline ul li:nth-child(even) div {
      left: -369px;
      /*250+45-6*/
    }

    .textRoadamp p {
        font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 752px) {
    .iniTimeline{
      top: 6rem;
      left: 1.4rem;
    }

    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
        width: 35rem;
    }

    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -16px;
        border-width: 8px 16px 8px 0;
        border-color: transparent hsl(0 0% 100% / 0.1) transparent transparent;
        backdrop-filter: blur(1rem);
    }

    .timeline{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: -40rem;
    }

    .containerRoadmap{
      padding: 10rem 0;
    }

    .textRoadamp p {
      font-size: 1.4rem;
    }

    .containerRoadmap{
      gap: 0rem;
    }

    .intro {
      padding: 50px 0;
  }
  
  }

  @media screen and (max-width:480px) {
    .container h1{
      font-size: 5rem;
  }
  }
  

  @media screen and (max-width: 420px) {

  
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
        width: 30rem;
    }

    .timeline ul li div {
      padding: 15px;
    }

    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -16px;
        border-width: 8px 16px 8px 0;
        border-color: transparent hsl(0 0% 100% / 0.1) transparent transparent;
        backdrop-filter: blur(1rem);
    }

    .textRoadamp p {
        font-size: 1.3rem;
    }

    .timeline{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: -34rem;

    }


  }


  
  @media screen and (max-width: 370px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
        width: 26.5rem;
    }

    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -16px;
        border-width: 8px 16px 8px 0;
        border-color: transparent hsl(0 0% 100% / 0.1) transparent transparent;
        backdrop-filter: blur(1rem);
    }

    .textRoadamp p {
        font-size: 1.1rem;
    }

    .timeline{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: -31rem;

    }

    .container h1{
      font-size: 5.5rem;
    }
  }
  
  /* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }

  
  }