
.contenedor {
    width: 100%;
    height: 60rem;
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(#000000, transparent) black; 
    transition: background-color 1s linear;
    overflow: hidden;
    margin-top: 10rem;
    z-index: 1000;
}


.level-up1 {
    background-color: #190e3f;
}

.level-up2 {
    background-color: #553199;
}

.level-up3 {
    background-color:  #a692ff; 
}

.level-up4 {
    background-color:  #86ff70; 
}

.level-up5 {
    background-color:  #ff3c3c; 
}


.StartGame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: rgba(185, 155, 255, 0.171);
    display: block;
}

.startInit{
    display: none;
}

.restart{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: rgba(185, 155, 255, 0.171);
    display: none;
    z-index: 220;
}

.restart:active{
    background-color: rgba(211, 193, 253, 0.171); 
}

.restartInit{
    display: block;
}

.pelota_game {
    width: 130px;
    height: 95px;
    position: absolute;
    bottom: 1.5rem;
    left: 300px;
    z-index: 2;
    animation: none;
    z-index: 10;
    object-fit: cover;
}

.pelota_game_active {
    animation: animarpelota_game 1.8s linear infinite;;
}

.pelota_game_desactive {
    animation:none;
}

.pelota_game-corriendo {
    animation: animarpelota_game 1.8s linear infinite;
}
.pelota_game-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12;
    background: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1660656671/CryptocupQatar/tickets/cesped_yecoim.png") repeat-x 0px 0px;
    background-size: 50% 45px;
    filter: contrast(115%) brightness(110%);
}

.cono{
    width: 30px !important;
    height: 80px !important;
    position: absolute;
    bottom: 10px;
    left: 600px;
}

.cono::before{
    content: " ";
    width: 64px ;
    height: 100px ;
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    transform: translate(-50% ,0);
    background: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1661463423/CryptocupQatar/BallGame/cono_in2zha.png") no-repeat;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: hue-rotate(0deg) contrast(110%) brightness(120%);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.cono2{
    width: 123px !important;
    height: 97px !important;
    bottom: 10px;
}

.cono2::before{
    content: " ";
    width: 170px ;
    height: 100px ;
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    transform: translate(-50% ,0);
    background: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:eco/v1661463423/CryptocupQatar/BallGame/cono2_xky8wr.png") no-repeat;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: hue-rotate(0deg) contrast(110%) brightness(120%);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.moneda{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    background: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1661463423/CryptocupQatar/BallGame/moneda11_or9fid.png") no-repeat center center;
    animation: animarMoneda_game 3s linear infinite;
    filter: drop-shadow(0 0 1px black) contrast(110%) brightness(120%);
}


.nube{
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    filter: contrast(110%) brightness(120%);
    background: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1661463423/CryptocupQatar/BallGame/nube_sjksmb.png") no-repeat;
    background-size: 92px 26px;
}

.score{
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50% , 0);
    z-index: 10;
    color: #d1b5ff;
    font-family: Verdana;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #d1b5ff;
    padding: .5rem 1.5rem;
    border-radius: 20%;
    display: none;
    transition: all 1s ease-in-out;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
    font-weight: bold;
}

.score_active{
    display: block;
    transition: all 1s ease-in-out;
}


.scoreMax{
    position: absolute;
    left: 50.5%;
    top: 16rem;
    transform: translate(-50% , 0);
}

.scoreMax p{
    font-size: 1.8rem;
    color: #d1b5ff;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
    font-weight: bold;
}


.scoreMax span{
    font-size: 1.9rem;
    color: white;
    padding: 0 1rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
    font-weight: bold;
}


.game-over{
    display: none;
    position: absolute;
    width: 100%;
    top:40%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #d0bcff;
    font-size: 5rem;
    font-family: Verdana;
    font-weight: 700;
    z-index: 200;
}

@keyframes animarpelota_game{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


@keyframes animarMoneda_game{
    from{
        transform: rotate3d(0, 0, 0, 0);
    }
    to{
        transform: rotate3d(0, 1, 0, 360deg);
    }
}


@media screen and (max-width:1170px) {

    .contenedor{
        display: none;
    }
    
}