.containerTiketsBuy{
    width: 100%;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/e_contrast:51,q_auto:good/v1661900963/CryptocupQatar/TICKETS%20BUY/home%20tickets/BackSectorTickets_yhp3gh.webp");
    background-repeat: no-repeat;
    background-position: 100% 100% ;
    top:0;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: all .3s ease-in-out;
    filter: contrast(110%) brightness(110%) ;
}

.containerTiketsBuy::-webkit-scrollbar-thumb{
    background: #34017796 ;
}

.containerTiketsBuy{
    width: 100%;
    object-fit: cover;
}



/* videos buy */

.basicBuyVideo, .boostBuyVideo{
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: 9999;
    filter: contrast(145%) brightness(105%) ;
    transition: all .5s ease-in-out;
    opacity: 0;
    display: none;
}

.boostBuyVideo_active, .basicBuyVideo_active{
    opacity: 1;
    display: inline-block;
    transition: all .5s ease-in-out;
}


/* general */

.flexTickets{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    width: 100%;
    height: 100vh;
    z-index: 15;
}

/* tickets  */
.ticketsSale{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    margin-top: 4rem;
    z-index: 99999;
}

.boxTickets{
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
}

.imgTicket {
    width: 17rem;
    filter: drop-shadow(0 0 40px rgba(211, 173, 255, 0.253));
    position: relative;
    z-index: -1;
}

.particle-Tikets video{
  width: 100%;
  object-fit: cover;
}
  

/* prices */

.priceBasic, .priceBoost{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    padding: 1.4rem 0;
    margin: 0;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);

}

.priceBasic_active{
    font-size: 2rem;
    transition: all .5s ease-in-out;
}

.priceBoost_active{
    font-size: 2rem;
    transition: all .5s ease-in-out;
}

/* buttons buy */


.wrapperBotton-Tickets {
    position: relative;
    margin-top: 0rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: -2rem;
}

.wrapperBotton-Tickets .btnButton-Tickets {
  width: 14.5rem;
  height: 4rem;
  margin: 0 1.2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btnButton-Tickets p {
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 1.5px;
  padding-top: .06rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}
  
.BorderTopBottom-Tickets:before {
  content: "";
  position: absolute;
  width: 15.8rem;
  height: 2px;
  top: -6px;
  left: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderTopBottom-Tickets:after {
  content: "";
  position: absolute;
  width: 15.9rem;
  height: 2px;
  bottom: -6px;
  right: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-Tickets:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 2px;
  height: 4.8rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-Tickets:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.btnButton-Tickets:hover {
    filter: drop-shadow( 0 0 1px white);
    transition: all .5s ease-in-out;
}


/* button tokens */


.wrapperBotton-ticketSale {
    position: relative;
    text-decoration: none;
}

.wrapperBotton-ticketSale , .btn-ticketSale , .btn-ticketSaleBoost {
  width: 4.7rem;
  height: 4rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btn-ticketSale p , .btn-ticketSaleBoost p {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: .6rem;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatar;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.BorderTopBottom-ticketSale:before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 2px;
  top: -6px;
  left: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderTopBottom-ticketSale:after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 2px;
  bottom: -6px;
  right: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-ticketSale:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-ticketSale:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}


/* controlador de pantalla token */


.boxBlurToken{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 21;
    backdrop-filter: blur(1rem);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.boxBlurToken_active{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
}

.boxBlurTokenBoost{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(1rem);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    z-index: 1000;
}

.boxBlurTokenBoost_active{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
}

.containerTiketsBuy__active{
    background-color: #000000;
}

.radioToken{
    position: fixed;
    border: 5px groove rgba(167, 100, 255, 0.295);
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(2rem);
    width: 34rem;
    height: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 2rem;
    border-radius: 15px;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 20px #b277ff49, 0 0 56px #b379ffa2, 0 0 105px #b688ff8e;
    -webkit-backdrop-filter: blur(10px);
}

.radioToken-active{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
}

/* boost */

.radioTokenBoost{
    position: fixed;
    border: 5px groove rgba(167, 100, 255, 0.295);
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(2rem);
    width: 34rem;
    height: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 2rem;
    border-radius: 15px;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 20px #b277ff49, 0 0 56px #b379ffa2, 0 0 105px #b688ff8e;
    -webkit-backdrop-filter: blur(10px);

}


.radioTokenBoost-active{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
}

.radio {
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
    border: 4px groove rgba(160, 88, 255, 0.418);
    border-radius: 15px;
    width: 100%;
    display: flex;
    padding: .8rem;
    padding-left: 5rem;
    margin: .2rem 0;
}

.radio_active{
    background-color: rgba(160, 88, 255, 0.692);
}

.radio:hover{
    background-color: rgba(160, 88, 255, 0.692);
}


.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.radio p{
    padding-left: 5rem;
    position: relative;
    top: .8rem;
    font-size: 2.7rem;
    letter-spacing: 1.5px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}


.LogoToken{
    position: relative;
    width: 3.7rem !important;
    top: 0rem;
}

.imgTokenSelect{
    width: 4rem !important;
    left: 10%;
    z-index: 1;
}

.btn-ticketSale , .btn-ticketSaleBoost{
    z-index: 10;
    margin-top: 0rem;
}

/* text */

.titleTicket{
    width: 100%;
    text-align: center;
}

.text-tickets{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: -6rem;
    width: 32%;
    left: 2rem;
}

.titleTicket h2{
    font-size: 6.5rem;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatarHeavy;
    line-height: 6rem;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #7a55ff);
    padding-bottom: 2rem;
}

.textoTicket{
    width: 90%;
}

.textoTicket p{
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: -3rem;
}


/* button Metamask */


.wrapperBotton-ticketSale-Connect {
    position: relative;
    padding-top: 1rem;
    text-decoration: none;
    margin-right: 5rem;
  }
  
  .wrapperBotton-ticketSale-Connect .btn-ticketSale-Connect {
    width: 31.5rem;
    height: 4.5rem;
    margin: 0 3rem;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  
  .btn-ticketSale-Connect p {
    color: white;
    font-size: 2.4rem;
    letter-spacing: 2px;
    padding-top: 1rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
  }
  
  .BorderTopBottom-ticketSale-Connect:before {
    content: "";
    position: absolute;
    width: 32.7rem;
    height: 2px;
    top: -6px;
    left: -7px;
    background: #fff;
    transition: all 0.5s ease;
    filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
  }
  
  .BorderTopBottom-ticketSale-Connect:after {
    content: "";
    position: absolute;
    width: 32.7rem;
    height: 2px;
    bottom: -6px;
    right: -7px;
    background: #fff;
    transition: all 0.5s ease;
    filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
  }
  
  .BorderLeftRight-ticketSale-Connect:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 2px;
    height: 5.5rem;
    background: #fff;
    transition: all 0.5s ease;
    filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
  }
  
  .BorderLeftRight-ticketSale-Connect:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -7px;
    width: 2px;
    height: 5.5rem;
    background: #fff;
    transition: all 0.5s ease;
    filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
  }
  
/* contador */

.cantTicket-basic , .cantTicket-boost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:5rem;
    border:2px solid rgb(255, 255, 255);
    padding: .5rem ;
    position: relative;
    background-color: #000000d7;
    overflow:hidden;
    backdrop-filter: blur(1em);
    filter: drop-shadow( 0 0 5px rgba(182, 136, 255, 0.411)) brightness(140%);
    top:-1.6rem;
    left: -.4rem;
    width: 21.8rem;

}

.menos-basic, .mas-basic , .menos-boost, .mas-boost{
    border-radius: 5px;
    background-color: #9366fcd0;
    backdrop-filter: blur(1em);
    border:none;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
    color: white;
    cursor: pointer;
}

.menos-basic:active, .mas-basic:active , .menos-boost:active, .mas-boost:active{
    filter: drop-shadow( 0 0 5px rgb(155, 48, 255)) brightness(130%);
}

.contador-basic p , .contador-boost p{
    font-size: 2.4rem;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


/* pantalla espera compra */


.PopupEsperaBuyContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #00000042;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}


.sk-chase {
    width: 60px;
    height: 60px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: rgb(190, 173, 255);
    border-radius: 100%;
    animation: sk-chase-dot-before 1.5s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; background-color: rgb(231, 225, 255); }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; background-color: rgb(215, 205, 255); }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; background-color: rgb(215, 205, 255); }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; background-color: rgb(195, 180, 255);  }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; background-color: rgb(174, 154, 255); }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; background-color: rgb(171, 149, 255);}
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }



@media screen and (min-width: 2550px){
    .containerTiketsBuy{
        width: 100%;
        overflow-y: scroll;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        gap: 10rem;
        width: 100%;
        z-index: 15;
    }
    
    /* tickets  */

    .boxTickets{
        width: 40%;
        gap: 5rem;
    }
    
    .imgTicket {
        width: 35rem;
    }
    
    /* text */

    .text-tickets{
        top: -10rem;
        width: 40%;
        margin-left: -2rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 10rem;
        line-height: 9rem;
    }

    .textoTicket p{
        font-size: 3.5rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and ( max-width:1440px) {
    .containerTiketsBuy{
        width: 100%;
    }

    .radioTokenBoost-active {
        top:58%;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        gap: 10rem;
        width: 100%;
        z-index: 15;
    }
    
    /* tickets  */

    .boxTickets{
        width: 35%;
        gap: 0rem;
    }
    
    .imgTicket {
        width: 13rem;
        margin-top:4rem;
    }
    
    /* text */

    .text-tickets{
        top: 0rem;
        width: 40%;
        text-align: center;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 1.9rem;
        letter-spacing: 1.3px;
        text-align: center;
    }

    .textoTicket p{
        margin-top: -2rem;
    }

    .containerTiketsBuy{
        background-position: 100% 30% ;
    }
    


    /* button buy */

        

    .wrapperBotton-Tickets {
        margin-left: -2rem;
    }

    .wrapperBotton-Tickets .btnButton-Tickets {
        width: 10rem;
        height: 4rem;
        margin: 0 1.2rem;
    }

    .btnButton-Tickets p {
        font-size: 1.7rem;
        line-height: 4rem;
        letter-spacing: 1.5px;
        padding-top: .06rem;
    }
    
    .BorderTopBottom-Tickets:before {
        width: 11.4rem;
        height: 2px;
        top: -6px;
        left: -7px;
    }

    .BorderTopBottom-Tickets:after {
        width: 11.4rem;
        height: 2px;
        bottom: -6px;
        right: -7px;
    }

    .BorderLeftRight-Tickets:before {
        top: -4px;
        left: -7px;
        width: 2px;
        height: 4.8rem;
    }

    .BorderLeftRight-Tickets:after {
        bottom: -4px;
        right: -7px;
        width: 2px;
        height: 5rem;
    }

    /* contador */

    .cantTicket-basic , .cantTicket-boost{
        gap:4rem;
        padding: .5rem ;
        top:.4rem;
        left: -.4rem;
        width: 17.3rem;
    
    }
    
    .menos-basic, .mas-basic , .menos-boost, .mas-boost{
        font-size: 2.2rem;
        padding: 0 1.3rem;
    }


    /* precio */
    
    .priceBasic, .priceBoost{
        font-size: 2.7rem;
        letter-spacing: 2px;
        color: white;
        padding-bottom: 1.6rem;
        margin: 0;
        text-transform: uppercase;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
        inset 0 -2px 5px 1px #9999ff,
        inset 0 -1px 1px 3px #9999ff;
        background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
    }

}


@media screen and ( max-width:1170px) {

    .containerTiketsBuy{
        width: 100%;
    }

    .text-tickets{
        left: 0rem;
    }
    
    .radioTokenBoost-active {
        top:50%;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        gap: 25rem;
        width: 100%;
        height: 100%;
        z-index: 15;
        padding-bottom: 25rem;
    }
    
    /* tickets  */
    .ticketsSale{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8rem;
        margin-left: 1rem;
    }

    
    .boxTickets{
        width: 40%;
        gap:2rem;

    }
    
    .imgTicket {
        width: 18rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 66%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 6rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2.2rem;
        letter-spacing: 1.5px;
        padding: 1rem 0rem;
    }

        /* contador */

        .cantTicket-basic , .cantTicket-boost{
            gap:4rem;
            padding: .5rem ;
            top: -1.5rem;
            left: -.4rem;
            width: 17.3rem;
        
        }
}


@media screen and (max-width: 800px){
    .containerTiketsBuy{
        width: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }

    .flexTickets{
        gap: 20rem;
        width: 100%;
        height: 100%;
        padding-bottom: 25rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 6rem;
        margin-left: 1rem;
    }
    

    /* text */

    .text-tickets{
        top: 18rem;
        width: 85%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and (max-width: 600px){
    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 20rem;
        width: 100%;
        height: 100%;
        padding-bottom: 25rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }

    .btn-ticketSale p , .btn-ticketSaleBoost p{
        font-size: 2.3rem;
        padding-top: .8rem;
      }

      .imgTicket {
        width: 17rem;
    }
}


@media screen and (max-width:480px){

    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    .textoTicket{
        width: 100%;
    }

    /* general */
    
    .flexTickets{
        gap: 20rem;
        width: 100%;
        height: 100%;
        padding: 0;
        padding-bottom: 10rem;

    }
    
    /* tickets  */
    .ticketsSale{
        gap: 3.5rem;
        margin-top: -10rem;
        z-index: 1;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .imgTicket {
        width: 16rem;
        margin-top: 10rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 4.2rem;
        line-height: 4rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.4px;
        text-align: inherit;
        margin-left: 2rem;
        padding: 1rem;
    }


   
    /* button buy */
    

    .wrapperBotton-Tickets .btnButton-Tickets {
        width: 10rem;
        height: 4rem;
        margin: 0 1.2rem;
    }

    .btnButton-Tickets p {
        font-size: 1.6rem;
        letter-spacing: 3.8px;
        padding-top: .15rem;
    }
    
    .BorderTopBottom-Tickets:before {
        width: 11.4rem;
        height: 2px;
        top: -6px;
        left: -7px;
    }

    .BorderTopBottom-Tickets:after {
        width: 11.4rem;
        height: 2px;
        bottom: -6px;
        right: -7px;
    }

    .BorderLeftRight-Tickets:before {
        top: -4px;
        left: -7px;
        width: 2px;
        height: 4.8rem;
    }

    .BorderLeftRight-Tickets:after {
        bottom: -4px;
        right: -7px;
        width: 2px;
        height: 5rem;
    }

    .btnButton-Tickets:hover {
        transform: scale(1);
        filter: drop-shadow( 0 0 1px white);
        transition: all .5s ease-in-out;
    }



    /* button connect wallet */
    
  
    .wrapperBotton-ticketSale-Connect {
        position: relative;
        padding-top: 1rem;
        padding: 6rem 0;
    }
    
    .wrapperBotton-ticketSale-Connect .btn-ticketSale-Connect {
      width: 30.7rem;
      height: 4.5rem;
      margin: 0 2rem;
    }
    
    .btn-ticketSale-Connect p {
      font-size: 2.4rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
      
    .BorderTopBottom-ticketSale-Connect:before {
        content: "";
        position: absolute;
        width: 31.9rem;
        height: 2px;
        top: -6px;
        left: -7px;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
      
      .BorderTopBottom-ticketSale-Connect:after {
        content: "";
        position: absolute;
        width: 31.9rem;
        height: 2px;
        bottom: -6px;
        right: -7px;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
      
      .BorderLeftRight-ticketSale-Connect:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -7px;
        width: 2px;
        height: 5.5rem;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
      
      .BorderLeftRight-ticketSale-Connect:after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: -7px;
        width: 2px;
        height: 5.5rem;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }


    /* contador */

    .cantTicket-basic , .cantTicket-boost{
        gap:4rem;
        padding: .5rem ;
        top:-1.5rem;
        left: -.4rem;
        width: 17.3rem;
    
    }
    
    .menos-basic, .mas-basic , .menos-boost, .mas-boost{
        font-size: 2.2rem;
        padding: 0 1.3rem;
    }

      

}

@media screen and (max-width:410px){
    /* general */
    
    .flexTickets{
        gap: 20rem;
        width: 100%;
        height: 100%;
        padding-bottom: 15rem;
    }
    
    /* tickets  */

    
    .boxTickets{
        width: 40%;
    }
    
    .imgTicket {
        width: 18.9rem;
    }

    
    /* text */
    .ticketsSale{
        flex-direction: column;
        gap: 0rem;
    }

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: inherit;
        margin-left: .5rem;
        padding: 1rem;
    }

    .radio {
        padding: .3rem 0 ;
    }

    /* button connect wallet */
    
  
    .wrapperBotton-ticketSale-Connect {
        position: relative;
        padding-top: 1rem;
    }
    
    .wrapperBotton-ticketSale-Connect .btn-ticketSale-Connect {
      width: 22.5rem;
      height: 4.5rem;
      margin: 0 2rem;
    }
    
    .btn-ticketSale-Connect p {
      font-size: 1.9rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
      
    .BorderTopBottom-ticketSale-Connect:before {
        content: "";
        position: absolute;
        width: 23.7rem;
        height: 2px;
        top: -6px;
        left: -7px;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
      
      .BorderTopBottom-ticketSale-Connect:after {
        content: "";
        position: absolute;
        width: 23.7rem;
        height: 2px;
        bottom: -6px;
        right: -7px;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
      
      .BorderLeftRight-ticketSale-Connect:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -7px;
        width: 2px;
        height: 5.5rem;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
      
      .BorderLeftRight-ticketSale-Connect:after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: -7px;
        width: 2px;
        height: 5.5rem;
        background: #fff;
        transition: all 0.5s ease;
        filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
      }
    
      .btnButton-ticketSale-Connect:hover {
          transform: scale(1.02);
          filter: drop-shadow( 0 0 1px white);
          transition: all .5s ease-in-out;
      }

      .btn-ticketSale-Connect:hover .BorderTopBottom-ticketSale-Connect:before,
      .btn-ticketSale-Connect:hover .BorderTopBottom-ticketSale-Connect:after {
        width: 12.8rem;
      }
}


@media screen and (max-width:355px){
    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .textoTicket p{
        font-size: 1.7rem;
        letter-spacing: 1px;
        text-align: inherit;
        margin-left: .5rem;
        padding: 1rem 0;
    }

    .titleTicket h2{
        font-size: 5rem;
        line-height: 5.5rem;
    }


    .radioToken {
        width: 30rem;
        height: 40rem;
        padding: 3rem;
    }

    .radioTokenBoost {
        width: 30rem;
        height: 40rem;
        padding: 3rem;
    }

    .radio p{
        left: 2rem;
    }

    .LogoToken {
        position: relative;
        width: 4rem !important;
        top: 0rem;
        left: 3rem;
    }
}