.containerTiketsBuy{
    width: 100%;
    overflow: hidden;
    background-image: url("./src/backgroundTickets.png");
    background-repeat: no-repeat;
    top:0;
    background-size: cover;
    position: relative;
    transition: all .3s ease-in-out;
}

.containerTiketsBuy{
    width: 100%;
    object-fit: cover;
}

/* general */

.flexTickets{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    width: 100%;
    height: 100vh;
    z-index: 15;
}

/* tickets  */
.ticketsSale{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
    margin-left: -5rem;

}

.boxTickets{
    width: 40%;
    text-align: center;
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: slidein;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-top: -6rem;
}

.ImgTicket {
    width: 23rem;
    filter: contrast(110%)  drop-shadow(0 0 100px rgba(164, 85, 255, 0.26));
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: ticketVolador;
    position: relative;
}

.particle-Tikets{
    position: absolute;
    opacity: .2;
    z-index: 10;
    filter: contrast(220%) brightness(100%)  hue-rotate(-160deg);
  }
  
.particle-Tikets video{
  width: 100%;
  object-fit: cover;
}
  
@keyframes slidein {
    0% {
        filter: drop-shadow(0 0 40px rgba(121, 33, 221, 0.233));
    }
  
    20% {
        filter: none;
    }

    40% {
        filter: drop-shadow(0 0 60px rgba(121, 33, 221, 0.233));
    }
  
    60% {
        filter: none;
    }

    100% {
        filter: drop-shadow(0 0 40px rgba(121, 33, 221, 0.233));
    }
}

@keyframes ticketVolador {
    0% {
        transform: translate(0 , -.6%) scale(1.02);
    }
  
    50% {
        transform: translate(0 , 0%) scale(1);
    }

    100% {
        transform: translate(0 , -.6%) scale(1.02);
    }
}


/* buttons buy */

/* bottons */

.wrapperBotton-Tickets {
    position: relative;
    margin-top: 0rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: -2rem;

}

.wrapperBotton-Tickets .btnButton-Tickets {
  width: 14.5rem;
  height: 4rem;
  margin: 0 1.2rem;
  text-align: center;
  cursor: pointer;
  position: relative;

}

.btnButton-Tickets p {
  font-size: 3rem;
  letter-spacing: 3.8px;
  padding-top: .15rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}
  
.BorderTopBottom-Tickets:before {
  content: "";
  position: absolute;
  width: 15.8rem;
  height: 2px;
  top: -6px;
  left: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderTopBottom-Tickets:after {
  content: "";
  position: absolute;
  width: 15.9rem;
  height: 2px;
  bottom: -6px;
  right: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-Tickets:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 2px;
  height: 4.8rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-Tickets:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.btnButton-Tickets:hover {
    filter: drop-shadow( 0 0 1px white);
    transition: all .5s ease-in-out;
}


/* button tokens */

.wrapperBotton-ticketSale {
    position: relative;
    text-decoration: none;
}

.wrapperBotton-ticketSale , .btn-ticketSale , .btn-ticketSaleBoost {
  width: 4.7rem;
  height: 4rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btn-ticketSale p , .btn-ticketSaleBoost p {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: .6rem;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatar;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.BorderTopBottom-ticketSale:before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 2px;
  top: -6px;
  left: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderTopBottom-ticketSale:after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 2px;
  bottom: -6px;
  right: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-ticketSale:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-ticketSale:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.radioToken{
    border: 2px solid white;
    width: 6rem;
    margin-left: -.7rem;
    margin-top: .8rem;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    transition: all .2s  ease-in-out;
    opacity: 0;
    position: relative;
    display: none;
}

.radioToken-active{
    border: 2px solid white;
    width: 21.8rem;
    margin-left: -16.4rem;
    margin-top: .1rem;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.7rem;
    padding: 1rem;
    transition: all .2s  ease-in-out;
    opacity: 1;
    background-color: #000000e8;
    position: relative;
    display: inline-block;
}


/* boost */

.radioTokenBoost{
    border: 2px solid white;
    width: 6rem;
    margin-left: -.7rem;
    margin-top: .8rem;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    transition: all .2s  ease-in-out;
    opacity: 0;
    position: relative;
    display: none;
}


.radioTokenBoost-active{
    border: 2px solid white;
    width: 21.8rem;
    margin-left: -16.4rem;
    margin-top: .1rem;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.7rem;
    padding: 1rem;
    transition: all .2s  ease-in-out;
    opacity: 1;
    background-color: #000000e8;
    position: relative;
    display: inline-block;
    z-index: 1000000;
}

.radio {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 33px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}

.radio:hover input ~ .control_indicator,
.radio input:focus ~ .control_indicator {
    background: #f5edff;
}

.radio input:checked ~ .control_indicator {
    background: #4409a3;
}

.radio:hover input:not([disabled]):checked ~ .control_indicator,
.radio input:checked:focus ~ .control_indicator {
    background: #8e61f8;
}

.radio input:disabled ~ .control_indicator {
    background: #ffffff;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.radio input:checked ~ .control_indicator:after {
    display: block;
}

.control-radio .control_indicator {
    border-radius: 35%;
}

.control-radio .control_indicator:after {
    left: 8px;
    top: 5px;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 300ms;
}

.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}

.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.468rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #936ad9;
    border-radius: 3rem;
    opacity: 0.9;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-radio input + .control_indicator::before {
    animation: s-ripple 300ms ease-out;
}

.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

.radio p{
    padding: 0;
    position: absolute;
    top: .6rem;
    left: 8rem;
    font-size: 2rem;
    letter-spacing: 1.5px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}


.LogoToken{
    position: relative;
    width: 2.2rem !important;
    top: .75rem;
    left: -6rem;
}

.imgTokenSelect{
    width: 4rem !important;
    left: 10%;
    z-index: 1;
}

.btn-ticketSale , .btn-ticketSaleBoost{
    z-index: 10;
    margin-top: 0rem;
}

/* text */

.titleTicket{
    width: 100%;
    text-align: center;
}

.text-tickets{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: -10rem;
    width: 42%;
}

.titleTicket h2{
    font-size: 7rem;
    line-height: 6rem;
    letter-spacing: 2.5px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #7a55ff);
}

.textoTicket p{
    font-size: 2.2rem;
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 2rem;
}


@media screen and (min-width: 2550px){
    .containerTiketsBuy{
        width: 100%;
        overflow-y: scroll;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        gap: 10rem;
        width: 100%;
        height: 100vh;
        z-index: 15;
    }
    
    /* tickets  */

    .boxTickets{
        width: 40%;
        gap: 5rem;
    }
    
    .ImgTicket {
        width: 35rem;
    }
    
    /* text */

    .text-tickets{
        top: -10rem;
        width: 40%;
        margin-left: -2rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 10rem;
        line-height: 9rem;
    }

    .textoTicket p{
        font-size: 3.5rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and ( max-width:1500px) {
    .containerTiketsBuy{
        width: 100%;
        overflow-y: scroll;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        gap: 10rem;
        width: 100%;
        z-index: 15;
        padding-top: 10rem;
    }
    
    /* tickets  */

    .boxTickets{
        width: 40%;
        gap: 5rem;
    }
    
    .ImgTicket {
        width: 20rem;
    }
    
    /* text */

    .text-tickets{
        top: -5rem;
        width: 45%;
        margin-left: -2rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 1.5rem;
    }

}


@media screen and ( max-width:1170px) {

    .containerTiketsBuy{
        width: 100%;
        overflow-y: scroll;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        gap: 25rem;
        width: 100%;
        height: 100%;
        z-index: 15;
        padding-bottom: 25rem;
    }
    
    /* tickets  */
    .ticketsSale{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6rem;
        margin-left: 1rem;
    }

    
    .boxTickets{
        width: 40%;
    }
    
    .ImgTicket {
        padding-top: 4rem;
        width: 20rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 66%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 6rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2.2rem;
        letter-spacing: 1.5px;
        padding: 1rem 0rem;
    }
}


@media screen and (max-width: 800px){
    .containerTiketsBuy{
        width: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }

    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 25rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 6rem;
        margin-left: 1rem;
    }
    

    /* text */

    .text-tickets{
        top: 18rem;
        width: 85%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and (max-width: 600px){
    .containerTiketsBuy{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 25rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }

    .btn-ticketSale p , .btn-ticketSaleBoost p{
        font-size: 2.3rem;
        padding-top: .8rem;
      }
}


@media screen and (max-width:480px){

    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 35rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 3.5rem;
        margin-top: -7rem;

    }
    
    .boxTickets{
        width: 40%;
    }
    
    .ImgTicket {
        width: 19.9rem;
        margin-top: 10rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 4.2rem;
        line-height: 4rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.4px;
        text-align: inherit;
        margin-left: 2rem;
        padding: 1rem;
    }


    /* button img token  */
    .radioToken{
        width: 6rem;
    }
    
    
    .radioToken-active{
        width: 17.3rem;
        margin-left: -11.9rem;
    }

    .radioTokenBoost{
        width: 6rem;
    }
    
    
    .radioTokenBoost-active{
        width: 17.3rem;
        margin-left: -11.9rem;
    }

    .wrapperBotton-ticketSale , .btn-ticketSale , .btn-ticketSaleBoost {
        width: 4.7rem;
        height: 4rem;
    }
    .BorderTopBottom-ticketSale:before {
      width: 6rem;
      height: 2px;
      top: -6px;
      left: -7px;
    }
    
    .BorderTopBottom-ticketSale:after {
      width: 6rem;
      height: 2px;
      bottom: -6px;
      right: -7px;
    }
    
    .BorderLeftRight-ticketSale:before {
      top: -4px;
      left: -7px;
      width: 2px;
      height: 5rem;
    }
    
    .BorderLeftRight-ticketSale:after {
      bottom: -4px;
      right: -7px;
      width: 2px;
      height: 5rem;
    }


    /* button buy */
    
    .wrapperBotton-Tickets {
        margin-top: 0rem;
        margin-left: -2rem;
        filter:drop-shadow(0 0 20px black);
    }

    .wrapperBotton-Tickets .btnButton-Tickets {
        width: 10rem;
        height: 4rem;
        margin: 0 1.2rem;
    }

    .btnButton-Tickets p {
        font-size: 3rem;
        letter-spacing: 3.8px;
        padding-top: .15rem;
    }
    
    .BorderTopBottom-Tickets:before {
        width: 11.4rem;
        height: 2px;
        top: -6px;
        left: -7px;
    }

    .BorderTopBottom-Tickets:after {
        width: 11.4rem;
        height: 2px;
        bottom: -6px;
        right: -7px;
    }

    .BorderLeftRight-Tickets:before {
        top: -4px;
        left: -7px;
        width: 2px;
        height: 4.8rem;
    }

    .BorderLeftRight-Tickets:after {
        bottom: -4px;
        right: -7px;
        width: 2px;
        height: 5rem;
    }

    .btnButton-Tickets:hover {
        transform: scale(1);
        filter: drop-shadow( 0 0 1px white);
        transition: all .5s ease-in-out;
    }
    
    /* button tokens active */

        
    .radio {
        padding-left: 33px;
        margin-bottom: 7px;
        font-size: 12px;
        gap: 2rem;
    }

    .radio input {
        z-index: -1;
        opacity: 0;
    }

    .control_indicator {
        top: 10px;
        left: 0;
        height: 20px;
        width: 20px;
    }

    .radio p{
        padding: 0;
        top: .6rem;
        left: 8rem;
        font-size: 2rem;
        letter-spacing: 1.5px;
    }


    .LogoToken{
        position: relative;
        width: 2.2rem !important;
        top: 0rem;
        left: -2.5rem;
    }

    .radio {
        padding: 1rem 0 ;
    }

    .imgTokenSelect{
        width: 4rem !important;
        left: 10%;
        z-index: 1;
    }

    .btn-ticketSale , .btn-ticketSaleBoost{
        z-index: 10;
        margin-top: 0rem;
    }

}

@media screen and (max-width:380px){
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 15rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 3.5rem;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .ImgTicket {
        width: 18.9rem;
    }

    
    /* text */
    .ticketsSale{
        flex-direction: column;
        gap: 10rem;
    }

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: inherit;
        margin-left: .5rem;
        padding: 1rem;
    }

    .radio {
        padding: .3rem 0 ;
    }
}


@media screen and (max-width:340px){


    
    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .textoTicket p{
        font-size: 1.7rem;
        letter-spacing: 1px;
        text-align: inherit;
        margin-left: .5rem;
        padding: 0rem;
    }

    .titleTicket h2{
        font-size: 3rem;
        line-height: 3rem;
    }
}