.containerTiketsBuy{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("./src/backgroundTickets.png");
    background-repeat: no-repeat;
    top:0;
    background-size: cover;
    position: relative;
    transition: all .3s ease-in-out;
}

.containerTiketsBuy{
    width: 100%;
    object-fit: cover;
}

/* general */

.flexTickets{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    width: 100%;
    height: 100vh;
    z-index: 15;
}

/* tickets  */
.ticketsSale{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
}

.boxTickets{
    width: 40%;
    text-align: center;
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: slidein;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.boxTickets img{
    width: 25rem;
    filter: contrast(110%)  drop-shadow(0 0 100px rgba(164, 85, 255, 0.26));
    animation-iteration-count: infinite;
    animation-duration: 8000ms;
    animation-name: ticketVolador;
}

.particle-Tikets{
    position: absolute;
    opacity: .2;
    z-index: 10;
    filter: contrast(220%) brightness(100%)  hue-rotate(-160deg);
  }
  
.particle-Tikets video{
  width: 100%;
  object-fit: cover;
}
  
@keyframes slidein {
    0% {
        filter: drop-shadow(0 0 40px rgba(121, 33, 221, 0.233));
    }
  
    20% {
        filter: none;
    }

    40% {
        filter: drop-shadow(0 0 60px rgba(121, 33, 221, 0.233));
    }
  
    60% {
        filter: none;
    }

    100% {
        filter: drop-shadow(0 0 40px rgba(121, 33, 221, 0.233));
    }
}

@keyframes ticketVolador {
    0% {
        transform: translate(0 , -.6%) scale(1.02);
    }
  
    50% {
        transform: translate(0 , 0%) scale(1);
    }

    100% {
        transform: translate(0 , -.6%) scale(1.02);
    }
}

/* bottons */

.wrapperBotton-Tickets {
    position: relative;
    margin-top: 0rem;
    text-decoration: none;
}

.wrapperBotton-Tickets .btnButton-Tickets {
  width: 14.5rem;
  height: 4rem;
  margin: 0 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btnButton-Tickets p {
  font-size: 3rem;
  letter-spacing: 3.8px;
  padding-top: .15rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}
  
.BorderTopBottom-Tickets:before {
  content: "";
  position: absolute;
  width: 15.8rem;
  height: 2px;
  top: -6px;
  left: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderTopBottom-Tickets:after {
  content: "";
  position: absolute;
  width: 15.9rem;
  height: 2px;
  bottom: -6px;
  right: -7px;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-Tickets:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 2px;
  height: 4.8rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRight-Tickets:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 2px;
  height: 5rem;
  background: #fff;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.btnButton-Tickets:hover {
    transform: scale(1.05);
    filter: drop-shadow( 0 0 1px white);
    transition: all .5s ease-in-out;
}

/* text */

.titleTicket{
    width: 100%;
    text-align: center;
}

.text-tickets{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: -10rem;
    width: 42%;
}

.titleTicket h2{
    font-size: 7rem;
    line-height: 6rem;
    letter-spacing: 2.5px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #7a55ff);
}

.textoTicket p{
    font-size: 2.2rem;
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 2rem;
}


@media screen and (min-width: 2550px){
    .containerTiketsBuy{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        gap: 10rem;
        width: 100%;
        height: 100vh;
        z-index: 15;
    }
    
    /* tickets  */

    .boxTickets{
        width: 40%;
        gap: 5rem;
    }
    
    .boxTickets img{
        width: 35rem;
    }
    
    /* text */

    .text-tickets{
        top: -10rem;
        width: 40%;
        margin-left: -2rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 10rem;
        line-height: 9rem;
    }

    .textoTicket p{
        font-size: 3.5rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and ( max-width:1440px) {
    .containerTiketsBuy{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        gap: 10rem;
        width: 100%;
        height: 100vh;
        z-index: 15;
    }
    
    /* tickets  */

    .boxTickets{
        width: 40%;
        gap: 5rem;
    }
    
    .boxTickets img{
        margin-top: 30%;
        width: 21rem;
    }
    
    /* text */

    .text-tickets{
        top: -5rem;
        width: 45%;
        margin-left: -2rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and ( max-width:1170px) {

    .containerTiketsBuy{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .containerTiketsBuy{
        width: 100%;
        object-fit: cover;
    }
    
    /* general */
    
    .flexTickets{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        gap: 25rem;
        width: 100%;
        height: 100%;
        z-index: 15;
        padding-bottom: 15rem;
    }
    
    /* tickets  */
    .ticketsSale{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6rem;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .boxTickets img{
        width: 25rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 66%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
        text-align: center;
    }

    .titleTicket h2{
        font-size: 6rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2.2rem;
        letter-spacing: 1.5px;
        padding: 1rem 0rem;
    }
}


@media screen and (max-width: 800px){
    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 15rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 6rem;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .boxTickets img{
        width: 25rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 85%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and (max-width: 600px){
    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 15rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 4rem;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .boxTickets img{
        width: 22rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 1rem;
    }
}


@media screen and (max-width:480px){

    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 15rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 3.5rem;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .boxTickets img{
        width: 19.9rem;
    }

    /* text */

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 4.2rem;
        line-height: 4rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1.4px;
        text-align: inherit;
        margin-left: 1.2rem;
        padding: 1rem;
    }
}

@media screen and (max-width:380px){

    .containerTiketsBuy{
        width: 100%;
        height: 100%;
    }
    
    .containerTiketsBuy{
        width: 100%;
    }
    
    /* general */
    
    .flexTickets{
        gap: 25rem;
        width: 100%;
        height: 100%;
        padding-bottom: 15rem;
    }
    
    /* tickets  */
    .ticketsSale{
        gap: 3.5rem;
    }
    
    .boxTickets{
        width: 40%;
    }
    
    .boxTickets img{
        width: 19.9rem;
    }

    /* text */
    .ticketsSale{
        flex-direction: column;
        gap: 10rem;
    }

    .text-tickets{
        top: 18rem;
        width: 95%;
        margin-left: 0rem;
    }

    .titleTicket{
        width: 100%;
    }

    .titleTicket h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .textoTicket p{
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: inherit;
        margin-left: .5rem;
        padding: 1rem;
    }
}