.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    z-index: 999999 !important;
    padding: 10rem 0;

/*     padding-top: 5rem ; */
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:eco/v1660661016/CryptocupQatar/footer/Footer3_hxey1j.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* blur footer */
.blurFooter{
    position: absolute;
    top: 0rem;
    width: 100%;
    height: .5rem;
    background-color:#ffffff;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
}

.blurFooter::before{
    width: 120%;
    left: -2rem;
    height: 100vh;
    content: " ";
    top: 1rem;
    background-color: rgba(6, 0, 12, 0.849);
    filter: blur(15px);
    position: absolute;
    z-index: 10;
}




/* circulo movimiento */


.circuloMovimiento{
    position: relative;
    margin: 0 auto;
    height: 41rem;
    width: 41rem;
    padding: 5rem 0;
    margin-bottom: 5rem;
    z-index: 10;
}


.circuloMovimiento:before,
.circuloMovimiento:after {
    position: absolute;
    content: '';
    border: 4px solid rgba(255, 254, 254, 0.205);
    border-radius: 50%;
}

.circuloMovimiento:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-color: #be8cff;
    border-right-color: #be8cff;
    box-shadow: 0 0 1px #903cff09, 0 0 10px #c79cff5b, 0 0 45px #9678ff6e;
    animation: rotatecw 30s linear infinite 0s;
}

.circuloMovimiento:after {
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    border-top-color: #be8cff;
    border-bottom-color: #be8cff;
    animation: rotateacw 24s linear infinite 0s;
}

@keyframes rotatecw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateacw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/*contact*/





.emailContac{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.emailContac a{
    text-decoration: none;
}



/* social */

.socialFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    flex-direction: column;
    position: absolute;
    flex-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 80%;

}    

.socialFooter i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 3.1rem;
    color: #d5b9ff;
    width: 5.2rem;
    height: 5.2rem;
    background-color: rgba(14, 14, 14, 0.541);
    backdrop-filter: blur(1rem);
    border-radius: 100%;
    border-bottom: 2px solid #b984ff;
    padding: 1.5rem ;
}

.socialFooter i:hover{
    color: #9375ff;
    transition: all .5s ease-in-out;
}

.socialFooter a{
    display: flex;
    justify-content: initial;
    align-items: center;
    gap: 2rem;
    width: 16rem;
    text-decoration: none;
    font-size: 1.9rem;
    color: white;
    letter-spacing: 1px;
    font-family: qatar;
}

/* tyc */


.boxBottomFotter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 3rem;
}


.terms{
    position: relative;
    width: 100%;
}

.terms ul{
    list-style: none;
}

.terms li{
    display: inline-block;
    margin:0 1rem;
}

.listTerms{
    text-align: center;
}



.listTerms a:hover{
    color: rgb(255, 181, 131);
   transition: all .5s ease-in-out;
}
.email:hover{
    color: rgb(255, 181, 131);
   transition: all .5s ease-in-out;
}


/* legal */

.termsAndCond, .titleFotter, .listTerms a , .email , .titleContact{
    color: rgb(216, 216, 216);
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 0;
    padding-bottom: 2rem;
    z-index: 11;
    width: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
}


@media screen and (max-width: 1100px) {


    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgb(5, 5, 5);
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0rem 0;
    }


    .logoFooter{
        position: relative;
        left:0%;
    }

    .boxFooter {
        gap: 3rem;
        padding-top: 6rem;
    }

    .emailContac {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1.5em;
    }
    

}



@media screen and (max-width: 480px) {

    .footer{
        gap: 3rem;
    }

    .listTerms a{
        font-size: 1.4rem;
    }
    
    .termsAndCond {
        text-align: center;
        font-size: 1.2rem;
    }

    .logoFooter p, .titleContact {
        letter-spacing: 1.5px;
        line-height: 3.3rem;
        padding-bottom: 1rem;
    }
    
    .titleContact{
        padding-bottom: 0rem;
    }

 

    .boxFooter {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
    }


    .titleSocialFooter, .titleContact {
        font-size: 2.4rem;
    }
    .email{
        font-size: 1.7rem;
        padding-top: 1rem;
    }
    
}