.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    padding-top: 5rem ;
    z-index: 999991 !important;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:eco/v1660661016/CryptocupQatar/footer/Footer3_hxey1j.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emailContac{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3.5em;
}

.emailContac a{
 text-decoration: none;
}

.email{
    color:rgb(243, 239, 255);
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: qatar;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
}

.boxFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
}

.backFooter{
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0rem;
    display: none;
}

.blurFooter{
    position: absolute;
    top: 0rem;
    width: 100%;
    height: .5rem;
    background-color:#ffffff;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
}

.blurFooter::before{
    width: 120%;
    left: -2rem;
    height: 100vh;
    content: " ";
    top: 1rem;
    background-color: rgba(0, 0, 0, 0.658);
    filter: blur(15px);
    position: absolute;
    z-index: 10;
}


/* title */
.logoFooter{
    position: relative;
}

.titleSocialFooter, .titleContact {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 5.3rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
}




/* social */

.socialFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0rem 0;
}    

.socialFooter i{
    font-size: 3.5rem;
    color: #d5b9ff;
}

.socialFooter i:hover{
    color: #9375ff;
    transition: all .5s ease-in-out;
}

.terms{
    position: relative;
    width: 100%;
    
}

.terms ul{
    list-style: none;
}

.terms li{
    display: inline-block;
    margin:0 1rem;
}

.listTerms{
    text-align: center;
}

.listTerms a{
    color: rgb(226, 218, 255);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.listTerms a:hover{
    color: rgb(255, 181, 131);
   transition: all .5s ease-in-out;
}

/* legal */

.termsAndCond {
    color: rgb(216, 216, 216);
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 0;
    padding-bottom: 2rem;
    z-index: 11;
    width: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
}


@media screen and (max-width: 1100px) {


    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgb(5, 5, 5);
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0rem 0;
    }


    .logoFooter{
        position: relative;
        left:0%;
    }

    .boxFooter {
        gap: 3rem;
        padding-top: 6rem;
    }

    .emailContac {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1.5em;
    }
    

}



@media screen and (max-width: 480px) {

    .footer{
        gap: 3rem;
    }

    .listTerms a{
        font-size: 1.4rem;
    }
    
    .termsAndCond {
        text-align: center;
        font-size: 1.2rem;
    }

    .logoFooter p, .titleContact {
        letter-spacing: 1.5px;
        line-height: 3.3rem;
        padding-bottom: 1rem;
    }
    
    .titleContact{
        padding-bottom: 0rem;
    }

 

    .boxFooter {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
    }


    .titleSocialFooter, .titleContact {
        font-size: 2.4rem;
    }
    .email{
        font-size: 1.7rem;
        padding-top: 1rem;
    }
    
}