.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    padding-top: 5rem ;
    z-index: 9999998 !important;
    background-image: url("./src/Footer3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.emailContac{
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0rem;
    top:-3.5rem;
    right: 15rem;
}

.email{
    color:rgb(243, 239, 255);
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-family: qatar;
    text-shadow: 0 0 1rem black;
}

.boxFooter{
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    width: 75%;
}

.backFooter{
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0rem;
    display: none;
}

.blurFooter{
    position: absolute;
    top: 0rem;
    width: 100%;
    height: .5rem;
    background-color:#ffffff;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
}

.blurFooter::before{
    width: 101.5%;
    left: -1.5rem;
    height: 100vh;
    content: " ";
    top: 1rem;
    background-color: rgba(0, 0, 0, 0.658);
    filter: blur(15px);
    position: absolute;
    z-index: 10;
}


/* title */
.logoFooter{
    position: relative;
    left: 17%;
}

.logoFooter p , .titleContact{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    line-height: 5.3rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: qatar;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
}


/* social */

.socialFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0rem 0;
}    

.socialFooter i{
    font-size: 3.5rem;
    color: #d5b9ff;
}

.socialFooter i:hover{
    color: #9375ff;
    transition: all .5s ease-in-out;
}

.terms{
    position: relative;
    padding-top: 3rem;
    width: 100%;
}

.terms ul{
    list-style: none;
}

.terms li{
    display: inline-block;
    margin:0 1rem;
}

.listTerms{
    text-align: center;
}

.listTerms a{
    color: rgb(206, 205, 205);
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

/* legal */

.termsAndCond {
    color: rgb(216, 216, 216);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2rem;
    z-index: 11;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .emailContac{
        right: 0rem;
    }
}

@media screen and (max-width: 1100px) {
    
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgb(5, 5, 5);
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5.5rem 0;
    }

    .logoFooter{
        position: relative;
        left:0%;
    }

    .emailContac{
        top:1rem;
        right: 0rem;
    }
}



@media screen and (max-width: 480px) {

    .footer{
        gap: 3rem;
        padding-top: 4rem ;
    }

    .listTerms a{
        font-size: 1.4rem;
    }
    
    .termsAndCond {
        text-align: center;
        font-size: 1.2rem;
    }

    .logoFooter p, .titleContact {
        letter-spacing: 1.5px;
        line-height: 3.3rem;
        padding-bottom: 3rem;
    }
    
    .titleContact{
        padding-bottom: 1rem;
    }

    .emailContac{
        margin: 2rem 0;
    }

    .boxFooter {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
    }
}