.tokens{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    padding-top: 15rem;
    background-image: url("./src/BackToken.jpg");
    background-size: cover;
    padding-bottom: 20rem;
    z-index: 10;
}

.tokens::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: -4rem;
    background-color: rgba(0, 0, 0, 0.658);
    filter: blur(15px);
    position: absolute;
    
}
.tokens::after{
    width: 110%;
    height: 2rem;
    content: " ";
    top: 0rem;
    width: 100%;
    height: .3rem;
    background-color:#fffffff5;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
    position: absolute;
    z-index: 1;
}

.tokenWebGl {
    position: relative;
    width: 10%;
    cursor: grab;
    transform: scale(.01);
    opacity: 0;
}

.containerToken{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    flex-wrap: wrap;
    width: 100%;
}

.textToken{
    position: relative;
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5rem;
}

.textToken p{
    color: white;
    padding:0rem 6rem;
    text-align: center;
}

.tokenTitle h2{
    font-size: 7rem;
    letter-spacing: 4px;
}


@media screen and (min-width: 2550px){

    .textToken p{
        line-height: 4.5rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 1440px){

    .textToken{
        width: 65%;
    }

    .tokens{
        padding-bottom: 15rem;
        background-size: cover;
    }

    .textToken p{
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }


    
}

@media screen and (max-width: 1170px){

    .textToken{
        width: 70%;
    }
}

@media screen and (max-width: 800px){

    .textToken{
        width: 100%;
    }
}

@media screen and (max-width:480px){
    
    .tokens::before{
        display: none;
    }

    .tokens::after{
       display: none;
    }

    .tokenWebGl {
        display: none;
    }

    .tokenTitle h2{
        font-size: 4rem;
    }

    .tokens{
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 15rem;
    }
    
    .tokenWebGl {
        position: relative;
        width: 10%;
        cursor: grab;
    }

    .textToken{
        width: 100%;
        gap:5rem;
        text-align: center;
    }
    
    .textToken p{
        padding: 0rem 2rem;
        margin-left: 1rem;
        text-align: center;
    }
}