.tokens{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
/*     background-image: url("./src/BackToken.jpg");
    background-size: cover; */
    z-index: 10;
    background-color: black;
    padding-top: 20rem;
}

.backToken{
    object-fit: cover;
    width: 100%;
    height: 75%;
    position: absolute;
    filter: grayscale(0.6) blur(8px);
}

.tokenblur{
    backdrop-filter: blur(.6rem);
    width: 100%;
    height: 75%;
    z-index: 13000;
    position: absolute;
}

.comingToken {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    object-fit: cover;
    filter: contrast(120%) brightness(105%) drop-shadow(0 0 50px rgba(135, 6, 255, 0.144));
}

.tokenComingSoon-left{
    position: absolute;
    top: 34%;
    left: 50.5%;
    transform: translate(-50%, -50%) rotate(10deg);
    width: 115%;
    object-fit: cover;
    filter: contrast(110%) brightness(125%) drop-shadow(0 0 50px rgba(167, 72, 255, 0.459));
}

.tokenComingSoon-right{
    position: absolute;
    top: 34%;
    left: 50.5%;
    transform: translate(-50%, -50%) rotate(-10deg);
    width: 115%;
    object-fit: cover;
    filter: contrast(110%) brightness(125%) drop-shadow(0 0 50px rgba(167, 72, 255, 0.459));
}

/* .tokens::after{
    width: 110%;
    height: 2rem;
    content: " ";
    top: -.5rem;
    width: 100%;
    height: .3rem;
    background-color:#fffffff5;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
    position: absolute;
    z-index: 1;
}
 */
.tokenWebGl {
    position: relative;
    width: 10%;
    cursor: grab;
    transform: scale(.01);
    opacity: 0;
    padding-bottom: 5rem;
    filter: grayscale(100);
}

.tokenVideo{
    position: relative;
    cursor: grab;
    transform: scale(.01);
    opacity: 0;
    margin-top: 15rem;
    padding-bottom: 20rem;
}


.containerToken{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    flex-wrap: wrap;
    width: 100%;
}

.textToken{
    position: relative;
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0rem;
}

.textToken p{
    color: white;
    padding:0rem 6rem;
    text-align: center;
}

.tokenTitle h2{
    font-size: 7.5rem;
    letter-spacing: 4px;
    filter: grayscale(100);
    font-family: qatarHeavy;
}


@media screen and (min-width: 2550px){

    .textToken p{
        line-height: 4.5rem;
        font-size: 3rem;
    }

    .tokenblur{
        backdrop-filter: blur(.6rem);
        width: 100%;
        height: 90%;
        z-index: 13000;
        position: absolute;
    }

}

@media screen and (max-width: 1440px){

    .textToken{
        width: 65%;
    }

    .tokens{
        padding-bottom: 0rem;
        background-size: cover;
    }

    .textToken p{
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }

    .comingToken {
        top: 33%;
        left: 50%;
        width: 85%;
    }
    
    .tokenComingSoon-left{
        width: 125%;
        top: 32%;
        left: 50%;
    }
    
    .tokenComingSoon-right{
        top: 32%;
        left: 50%;
        width: 125%;
    }
    
    
}

@media screen and (max-width: 1170px){

    .textToken{
        width: 70%;
    }

    .comingToken {
        top: 33%;
        left: 50%;
        width: 100%;
    }
    
}

@media screen and (max-width: 800px){

    .textToken{
        width: 100%;
    }

    .comingToken {
        top: 33%;
        left: 50%;
        width: 120%;
    }

    .tokenComingSoon-left{
        width: 185%;
        top: 32%;
        left: 50%;
    }
    
    .tokenComingSoon-right{
        top: 32%;
        left: 50%;
        width: 185%;
    }
}

@media screen and (max-width:480px){

    .tokenVideo{
        position: relative;
        cursor: grab;
        transform: scale(.01);
        opacity: 0;
        margin-top: 9rem;
        padding-bottom: 0rem;
        display: none;
    }


    .tokenblur{
        backdrop-filter: blur(.5rem);
    }
    
    .tokens::before{
        display: none;
    }


    .tokenWebGl {
        display: none;
    }

    .tokenTitle h2{
        font-size: 5rem;
    }

    .tokens{
        width: 100%;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    
    .tokenWebGl {
        position: relative;
        width: 10%;
        cursor: grab;
    }

    .textToken{
        width: 100%;
        gap:5rem;
        text-align: center;
    }
    
    .textToken p{
        padding: 0rem 1rem;
        text-align: center;
    }

    .comingToken {
        top: 45%;
        left: 53%;
        width: 150%;
    }


    .tokenComingSoon-left{
        width: 275%;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(22deg);
    }
    
    .tokenComingSoon-right{
        top: 36%;
        left: 50%;
        width: 275%;
        transform: translate(-50%, -50%) rotate(-22deg);
    }

    .tokens {
    }
}