.tokens{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    padding-top: 15rem;
    background-image: url("./src/BackToken.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 20rem;
    z-index: 10;
}

 .tokens::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: -4rem;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(15px);
    position: absolute;
    
}
.tokens::after{
    content:"";
    position: absolute;
    top: -4rem;
    height: 10rem;
    width: 110vw;
    background-color: rgba(0, 0, 0, 0.904);
    filter: blur(20px);
}

.tokenWebGl {
    position: relative;
    width: 10%;
    cursor: grab;
    transform: scale(.01);
    opacity: 0;
}

.containerToken{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    flex-wrap: wrap;
    width: 100%;
}

.textToken{
    position: relative;
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5rem;
}

.textToken p{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding:0rem 6rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* fondo */

/* .backToken{
    width: 100%;
    position: absolute;
    object-fit: cover;
} */

@media screen and (min-width: 2550px){

    .textToken p{
        line-height: 4.5rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 1440px){

    .textToken{
        width: 65%;
    }

    .tokens{
        padding-bottom: 15rem;
        background-size: cover;
    }
    

}

@media screen and (max-width: 1170px){

    .textToken{
        width: 70%;
    }
}

@media screen and (max-width: 800px){

    .textToken{
        width: 100%;
    }
}

@media screen and (max-width:480px){

    
    .tokens::before{
        display: none;
    }

    .tokens::after{
       display: none;
    }

    .tokenWebGl {
        display: none;
    }

    .tokenTitle h2{
        font-size: 4rem;
    }

    .tokens{
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 15rem;
    
    }
    
    .tokenWebGl {
        position: relative;
        width: 10%;
        cursor: grab;
    }

    .textToken{
        width: 100%;
        gap:5rem;
        text-align: initial;
    }
    
    .textToken p{
        padding: 0rem 2rem;
        margin-left: 1rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.6rem;
        text-align: inherit;
    }
}