/* button metamask  */

.wrapperBottonBtn-Metmask {
    position: absolute;
    right: 10rem;
    top: 3.5rem;
    margin-top: -.4rem;
    text-decoration: none;
}

.wrapperBottonBtn-Metmask .btnButtonNav-Metmask {
  width: 23rem;
  height: 4rem;
  margin: 0 2rem;
  text-align: end;
  padding: 0 1rem;
  cursor: pointer;
  position: relative;
}


.btnButtonNav-Metmask p {
  font-size: 2.4rem;
  letter-spacing: 1.5px;
  padding-top: .4rem;
  padding-right: 1rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatar;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #ff6b26,
  inset 0 -2px 5px 1px #ff6b26,
  inset 0 -1px 1px 3px #ff6b26;
  background-image: linear-gradient(180deg, #ff6b26, #ff9c40, #ffb26b, #ffe7d7, #ffb26b, #ff9c40, #ff6b26);
}

.BorderTopBottomNav-Metmask:before {
  content: "";
  position: absolute;
  width: 24.4rem;
  height: 2px;
  top: -6px;
  left: -7px;
  background: rgb(255, 124, 63);
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderTopBottomNav-Metmask:after {
  content: "";
  position: absolute;
  width: 24.4rem;
  height: 2px;
  bottom: -6px;
  right: -7px;
  background: rgb(255, 124, 63);
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRightNav-Metmask:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 2px;
  height: 5rem;
  background: rgb(255, 124, 63);
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}

.BorderLeftRightNav-Metmask:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 2px;
  height: 5rem;
  background: rgb(255, 124, 63);
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 5px rgb(182, 136, 255)) brightness(140%);
}
.btnButtonNav-Metmask:hover {
    transform: scale(1.02);
    filter: drop-shadow( 0 0 1px white);
    transition: all .5s ease-in-out;
}



.logoMetamask{
    position: absolute;
    width: 5rem !important;
    left: 2%;
    top: -.4rem;
}