.containerNfts{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1661785088/CryptocupQatar/token/BackToken_sknpmi.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
}

.containerNfts::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.400);
    position: absolute;
    z-index: 1;
}


.containerWins{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding-top:7rem;
}


.titleNfts{
    z-index: 10;
    text-transform: uppercase;
    padding-top: 20rem ;
    padding-bottom: 0rem;
}

.titleNfts h2{
    font-weight: 300;
    font-size: 6rem;
    top: 25px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(161, 114, 75),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #e9b183, #be963e, #fef1a2, #be963e, #e9b183);
    letter-spacing: 2px;
    font-family: qatarHeavy;

}

.subtitleNftWinners{
    font-weight: 300;
    font-size: 7rem;
    padding-top:-4rem;
    padding-bottom: 1rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(161, 114, 75),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: repeating-linear-gradient(160deg, #e9b183, #be963e, #fef1a2, #be963e, #e9b183);
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: qatarHeavy;
}

.subtitleNftPricePool{
    font-weight: 300;
    font-size: 7rem;
    letter-spacing: 3px;
    padding-top:2rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(161, 114, 75),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #e9b183, #be963e, #fef1a2, #be963e, #e9b183);
    z-index: 100;
    text-transform: uppercase;
    font-family: qatarHeavy;
}

.textNfts{
    z-index: 100;
    width: 42%;
    text-align: center;
    margin-top:-3rem
}

.textNft_top{
    margin-top:-2rem
}

.textNfts p{
    color: white;
    padding: 0 1rem ;
    text-align: center;
    padding-bottom: 0rem;
    z-index: 100;
}

/* cards */

 .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    z-index: 1;
    gap: 2rem;
}

.container_card {
    position: relative;
    width: 43rem;
    height: 49rem;
    margin: 10rem 0;
    display: flex;
    justify-content: center;
}

.imgNftBasic, .imgNftBoost{
    width: 43rem;
    height: 50rem;
    z-index: 900;
    filter:  contrast(110%) brightness(106%);
}
.imgNftBasic{
    animation: float 5.5s ease-in-out infinite;
}

.imgNftBoost{
    animation: float 4.5s ease-in-out infinite;
}

/* roca grande izquierda */
.rockIz{
    position: absolute;
    width: 45rem;
    object-fit: cover;
    left:7%;
    top: 5%;
    transform: translate(-0%, -50%) ;
    filter: contrast(110%) brightness(105%) drop-shadow(5px 0 10px rgba(225, 180, 255, 0.363));
    z-index: 1000;
    animation: float2 6s ease-in-out infinite;
}


.rockDer{
    position: absolute;
    width: 45rem;
    object-fit: cover;
    right:5%;
    top: 5%;
    transform: translate(-0%, -50%) ;
    filter: contrast(105%) brightness(105%) drop-shadow(2px -5px 10px rgba(225, 180, 255, 0.253));
    z-index: 1000 !important;
    animation: float 6.5s ease-in-out infinite;
}

.tiposTorneos{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 800;
}

.fondoRock{
    position: absolute;
    width: 60%;
    height: 55%;
    top: 18%;
    left: 18%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px rgba(195, 150, 255, 0.568)) ;
    animation: float2 5s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(15px);
	}
	100% {
		transform: translatey(0px);
        
	}
}


/* pricePOOL */

/* background */

.events-page {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_1470,q_auto:eco,w_1750/v1660656624/CryptocupQatar/nft/BackToken_bpo7qi.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
}

.events-page::before{
    width: 100%;
    height: 100%;
    content: " ";
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.400);
    position: absolute;
    z-index: -1;
}

/* imag 1 */

.event1 .image {
    top: 50%;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_814,q_auto:best,w_1100/v1663101888/CryptocupQatar/nft/PrizePoolBasic2_fi4urh.png");
    background-size: contain;
    width: 51%;
    text-align: center;
    background-repeat: no-repeat;
    filter: contrast(115%) brightness(105%);
}

/* img2 */

.event2 .image {
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_814,q_auto:best,w_1100/v1663101886/CryptocupQatar/nft/PrizePoolBoost3Ingles_pbnf48.png");
    background-size: contain;
    width: 51.00%;
    text-align: center;
    margin-left: 0px;
    background-repeat: no-repeat;
    filter: contrast(120%) brightness(100%);
}
.image {
    top: -50%;
    left: 50%;
    background-size: contain;
    position: absolute;
    transform: translate(-50%, -35%); 
    height: 100vh;
    width: 50vw;
}
.pinWrapper {
    height: 100%;
    width: 100%;
}
.event {
    position: relative;
    height: 100vh;
    width: 100vw;

}
.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
}

.boxPricePool{
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
}


/* flechas */


.arrowss {
	width: 60px;
	height: 90px;
	position: absolute;
    z-index: 1000;
    top: 0rem;
}

.arrowss path {
	stroke: #ffd586;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrowss path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrowss path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrowss path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}



@media screen and (min-width:2000px) {

    .titleNfts{
        padding-top: 57rem ;
    }

}



@media screen and (max-width: 1440px){
    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }

    .titleNfts h2 {
        font-size: 5rem;
        top: 25px;
    }
    .titleNfts {
        padding-top: 14rem;
    }

    .subtitleNftWinners {
        font-size: 5rem;
        padding-top: 2rem;
    }

    .subtitleNftPricePool {
        font-size: 5rem;
        letter-spacing: 3px;
        padding-top: 2rem;
    }

    .textNfts{
        width: 60%;
        text-align: center;
    }
    
    .textNfts p{
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }

    .container_card {
        width: 40rem;
        height: 49rem;
    }
    
    .imgNftBasic, .imgNftBoost {
        width: 37rem;
        height: 43rem;
        z-index: 900;
    }

    .rockIz {
        width: 30rem;
        left: 3%;
        top: 32%;
    }

    .rockDer {
        width: 30rem;
        right: 3%;
        top: 32%;
    }

    .tiposTorneos {
        padding-top: 0rem;
    }


    .event1 .image {
        width: 50%;
        margin-top: 10rem;
    }
    
    .event2 .image {
        width: 50.1%;
        margin-top: 10rem;
        margin-left: 1px;
    }

    .image {
        transform: translate(-50%, -50%); 
    }

}


@media screen and (max-width: 1170px){
    
    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }

    .rockIz {
        width: 20rem;
        left: 3%;
        top: 32%;
    }

    .rockDer {
        width: 20rem;
        right: 0%;
        top: 76% !important;
    }

    .textNfts{
        width: 75%;
        text-align: center;
    }

    .titleNfts {
        padding-top: 14rem;
    }
    
    .textNfts p{
        color: white;
        padding: 0 1rem ;
        text-align: center;
    }
    
    .tiposTorneos{
        gap: 5rem;
        padding-top: 5rem;
    }

    .event1 .image {
        width:70%;
        margin-top: 18rem;
    }
    
    .event2 .image {
        width: 70%;
        margin-top: 18rem;
    }
}

@media screen and (max-width:942px){
    .rockIz {
        display: none;
    }

    .fondoRock {
        position: absolute;
        width: 100%;
        height: 55%;
        top: 45%;
        left: 49%;
        transform: translate(-50%, -50%);
    }

    .rockDer {
       display: none;
    }

    .tiposTorneos{
        gap: 5rem;
        padding-top: 5rem;
    }



}

@media screen and (max-width: 880px){
    .titleNfts {
        z-index: 10;
        text-transform: uppercase;
        padding-top: 0rem;
        padding-bottom: 10rem;
    }


    .titleNfts h2{
        font-weight: 300;
        font-size: 4.5rem;
        top: 25px;
    }

    .fondoRock {
        position: absolute;
        width: 100%;
        height: 55%;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        opacity: .5;
    }
    
    .rockIz {
        display: inline-block;
        width: 27rem;
        left: 0%;
        top: 12%;
       z-index: -1;
    }
    .rockDer {
        display: inline-block;
        width: 27rem;
        right: 0%;
        top: 80%;
     }

    .container {
        padding-bottom: 15rem;
        gap: 0rem;
    }
    .container_card {
        position: relative;
        width: 43rem;
        height: 49rem;
        margin: 5rem 0;
        padding-top: 10rem;
    }
    
    .subtitleNftWinners{
        font-size: 4.5rem;
        padding-top:6rem;
    }
    
    .subtitleNftPricePool{
        font-size:5.6rem;
        letter-spacing: 3px;
        padding-top:15rem;
    }
    
    .divisionPrizePool {
        position: absolute;
        top: -7rem;
        width: 100%;
    }
    .event1 .image {
        margin-top: 20rem;
    }
    
    .event2 .image {
        margin-top: 20rem;
    }

    .containerWins {
        padding-top:0rem;
    }

}

@media screen and (max-width: 770px){

    .textNfts{
        width: 85%;
    }
    
    .textNfts p{
        color: white;
        padding: 0 1rem ;
        margin-left: 1rem;
    }
    
    .tiposTorneos{
        gap: 5rem;
    }

    .event1 .image {
        width: 80%;
        margin-top: 22rem;
    }
    
    .event2 .image {
        width:80%;
        margin-top: 22rem;
    }
    
    .titleNfts{
        padding-top: 0rem;
        padding-bottom: 5rem;
    }
    .titleNfts h2{
        font-weight: 300;
        font-size: 4.7rem;
    }
    
    .subtitleNftWinners{
        font-size: 5rem;
        padding-top:0rem;
    }
    
    
    .subtitleNftPricePool{
        font-size:4rem;
        letter-spacing: 3px;
        padding-top:15rem;
    }

    .rockIz {
        display: inline-block;
        width: 25rem;
        left: 2%;
    }
    .rockDer {
        display: inline-block;
        width: 25rem;
        right: 0%;
        top: 85%;
     }

     .divisionPrizePool-bottom{
        display: none;
     }
}


@media screen and (max-width: 480px){

    .flip {
        width: 300px;
    }
    .flip > .front, .flip > .back {
        height: 380px;
    }

    .titleNfts {
        z-index: 10;
        text-transform: uppercase;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    .container_card {
        padding-top: 14rem;
    }


    .fondoRock {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 25%;
        left: 0%;
        transform: translate(-50%, -50%);
        opacity: .5;
    }
    
    .rockIz {
        display: inline-block;
        width: 24rem;
        left: 0%;
        top: 0%;
        z-index: -1;
    }
    .rockDer {
        display: inline-block;
        width: 24rem;
        right: -5%;
        top: 78% !important;
    }

    .imgNftBasic, .imgNftBoost {
        width: 38rem;
        height: 45rem;
        z-index: 900;
        margin-left: 1rem;
    }

    .textNfts{
        width: 95%;
    }

    .containerNfts{
        padding-top: 10rem ;
    }
    
    .textNfts p{
        color: white;
        padding: 0 1.5rem ;
        text-align: center;
        margin-left: 0rem;
    }
    
    .tiposTorneos{
        gap: 5rem;
        padding-top: 0rem;
    }

    .image{
        height: 45vh;
    }

    .event1 .image {
        width: 98%;
        margin-top: 5rem;
    }
    
    .event2 .image {
        width: 98%;
        margin-top: 5rem;
    }

    .titleNfts h2{
        font-weight: 300;
        font-size: 4rem;
        letter-spacing: 1px;
        top: 25px;
        line-height: 4.2rem;
    }

    .subtitleNftWinners{
        font-size: 4rem;
        padding-top:6rem;
    }
    
    .subtitleNftPricePool{
        font-size:3.2rem;
        letter-spacing: 3px;
        padding-top:5rem;
    }

    .container {
        padding-bottom: 25rem;
        gap: 0rem;
    }

    .containerWins {
        margin-top: -20rem;
    }
}

@media screen and (max-width: 395px){

    .flip {
        width: 280px;
    }
    .flip > .front, .flip > .back {
        height: 380px;
    }
    
    
    .subtitleNftWinners{
        font-size: 4rem;
        padding-top:6rem;
    }
    

    .subtitleNftPricePool{
        font-size:2.5rem;
        letter-spacing: 3px;
        padding-top:0rem;
    }


    .imgNftBasic, .imgNftBoost {
        width: 40rem;
        height: 47rem;
        z-index: 900;
    }

    .imgNftBoost {
        width: 40rem;
        height: 47rem;
        margin-left: 1.5rem;
        z-index: 900;
    }
}