.containerNfts{
    width: 100%;
    background: rgb(0,0,0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    padding-top: 15rem ;
    background-image: url("./src/BackToken.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
}

.containerNfts::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: -1rem;
    background-color: rgba(0, 0, 0, 0.753);
    filter: blur(15px);
    position: absolute;
    z-index: 1;
}

.containerNfts::after{
    width: 110%;
    height: 10rem;
    content: " ";
    top: -2rem;
    background-color: rgba(0, 0, 0, 0.945);
    filter: blur(10px);
    position: absolute;
    z-index: 1;
}

.titleNfts{
    z-index: 10;
    padding-top: 5rem;
    text-transform: uppercase;
}

.titleNfts h2{
    font-weight: 300;
    font-size: 6rem;
    top: 25px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(161, 114, 75),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #e9b183, #be963e, #fef1a2, #be963e, #e9b183);
    z-index: 100;
    letter-spacing: 2px;

}


.subtitleNftWinners{
    font-weight: 300;
    font-size: 6rem;
    padding-top:6rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(161, 114, 75),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #e9b183, #be963e, #fef1a2, #be963e, #e9b183);
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 2px;

}


.subtitleNftPricePool{
    font-weight: 300;
    font-size: 7rem;
    letter-spacing: 3px;
    padding-top:15rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(161, 114, 75),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #e9b183, #be963e, #fef1a2, #be963e, #e9b183);
    z-index: 100;
    text-transform: uppercase;
}

.textNfts{
    z-index: 100;
    width: 45%;
    text-align: center;
}

.textNfts p{
    color: white;
    padding: 0 1rem ;
    text-align: center;
    z-index: 100;
}

/* cards */

 .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    z-index: 1;
}

.container_card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(1rem);
    background: #161623;
    filter: drop-shadow(2px -8px 15px rgba(255, 209, 150, 0.075));
    border: 4px groove rgb(255, 213, 150);
    backdrop-filter: blur(1rem);
}

.videoCopaBasic, .videoCopaBoost{
    width: 100%;
    filter: contrast(120%) brightness(140%);
}

/* ---------- */

/* pricePOOL */


.events-page {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("./src/BackToken.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
}

.events-page::before{
    width: 100%;
    height: 100%;
    content: " ";
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    z-index: -1;
}

.event1 .image {
    top: 50%;
    background-image: url(./src/prizepoolBasic.png);
    background-size: contain;
    width: 50%;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10rem;
    filter: contrast(125%) brightness(125%);
}

.event2 .image {
    background-image: url(./src/prizepoolBoost.png);
    background-size: contain;
    width: 50%;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10rem;
    filter: contrast(125%) brightness(125%);
}
.image {
    top: -50%;
    left: 50%;
    background-size: contain;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 50vw;
}
.pinWrapper {
    height: 100%;
    width: 100%;
}
.event {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
}


@media screen and (max-width: 1440px){
    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }

    .textNfts{
        width: 65%;
        text-align: center;
    }
    
    .textNfts p{
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }
    
    .tiposTorneos{
        gap: 5rem;
        padding-top: 5rem;
    }

    .event1 .image {
        width: 50%;
        margin-top: 10rem;
    }
    
    .event2 .image {
        width: 50.1%;
        margin-top: 10rem;
        margin-left: 1px;
    }


}


@media screen and (max-width: 1170px){
    
    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }

    .textNfts{
        width: 75%;
        text-align: center;
    }
    
    .textNfts p{
        color: white;
        padding: 0 1rem ;
        text-align: center;
    }
    
    .tiposTorneos{
        gap: 5rem;
        padding-top: 5rem;
    }

    .event1 .image {
        width: 85%;
        margin-top: 17rem;
    }
    
    .event2 .image {
        width: 85%;
        margin-top: 17rem;
    }
}


@media screen and (max-width: 880px){
    .event1 .image {
        width: 85%;
        margin-top: 22rem;
    }
    
    .event2 .image {
        width: 85%;
        margin-top: 22rem;
    }

    .titleNfts h2{
        font-weight: 300;
        font-size: 4.5rem;
        top: 25px;
    }
    
    
    .subtitleNftWinners{
        font-size: 4.5rem;
        padding-top:6rem;
    }
    
    
    .subtitleNftPricePool{
        font-size:5.6rem;
        letter-spacing: 3px;
        padding-top:15rem;
    }

}

@media screen and (max-width: 770px){

    .textNfts{
        width: 85%;
    }
    
    .textNfts p{
        color: white;
        padding: 0 1rem ;
        margin-left: 1rem;
    }
    
    .tiposTorneos{
        gap: 5rem;
        padding-top: 5rem;
    }

    .event1 .image {
        width: 90%;
        margin-top: 25rem;
    }
    
    .event2 .image {
        width: 90%;
        margin-top: 25rem;
    }


    .titleNfts h2{
        font-weight: 300;
        font-size: 3.8rem;
        top: 25px;
    }
    
    
    .subtitleNftWinners{
        font-size: 3.8rem;
        padding-top:6rem;
    }
    
    
    .subtitleNftPricePool{
        font-size:4.8rem;
        letter-spacing: 3px;
        padding-top:15rem;
    }
}


@media screen and (max-width: 480px){

    .flip {
        width: 300px;
    }
    .flip > .front, .flip > .back {
        height: 380px;
    }

    .textNfts{
        width: 95%;
    }
    
    .textNfts p{
        color: white;
        padding: 0 1.5rem ;
        text-align: center;
        margin-left: 0rem;
    }
    
    .tiposTorneos{
        gap: 5rem;
        padding-top: 0rem;
    }

    .event1 .image {
        width: 100%;
        margin-top: 30rem;
    }
    
    .event2 .image {
        width: 100%;
        margin-top: 30rem;
    }

    .titleNfts h2{
        font-weight: 300;
        font-size: 3.2rem;
        letter-spacing: 1px;
        top: 25px;
    }
    
    
    .subtitleNftWinners{
        font-size: 4rem;
        padding-top:6rem;
    }
    
    
    .subtitleNftPricePool{
        font-size:4rem;
        letter-spacing: 3px;
        padding-top:0rem;
        display: none;
    }
}

@media screen and (max-width: 395px){

    .flip {
        width: 280px;
    }
    .flip > .front, .flip > .back {
        height: 380px;
    }

    .titleNfts h2{
        font-weight: 300;
        font-size:  2.6rem;
        top: 25px;
    }
    
    
    .subtitleNftWinners{
        font-size: 4rem;
        padding-top:6rem;
    }
    
    
    .subtitleNftPricePool{
        font-size:3rem;
        letter-spacing: 3px;
        padding-top:0rem;
        display: none;
    }

}