.boxCopyCupon{
    width: 6rem;
    height: 5.7rem;
    border: 2px solid white;
    position: relative;
    left:32.7rem;
    margin-top: -7.1rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.377);
    backdrop-filter: blur(2rem);
    z-index: 12;
    transition: all .1s ease-in-out;
}

.boxCopyCupon:active{
    background: rgba(255, 255, 255, 0.623);
}

.boxCopyCupon_active{
    border: 2px solid rgb(0, 255, 162);
    transition: all .1s ease-in-out;
}

.copy{
    color: rgb(31, 29, 32);
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: all .5s ease-in-out;
}

.copy_active{
    color: rgb(0, 255, 162);
    transition: all .1s ease-in-out;
}

.boxCopyCupon:hover > .containerCopy {
    border: 2px solid rgb(255, 255, 255);
    width: 40rem;
    height: 22rem;
    position: relative;
    right: 17rem;
    top: 8rem;
    background-color: rgb(0, 0, 0);
    transition: all .4s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.containerCopy{
    opacity: 0;
    visibility: hidden;
}

.text1Copy{
    top: 0;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 2rem ;
}

.text2Copy{
    top: 0;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem ;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.triangle{
    width: 2rem;
    height: 1.5rem;
    clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
    color: white;
    background-color: white;
    position: absolute;
    left: 50%;
    top: -1.7rem;
}

/* text */

.containerHereCupon{
    position: relative;
    left: .5rem;
    top: 4rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.containerHereCupon p{
    font-size: 2rem;
    color: white;
}

.containerHereCupon span{
    cursor: pointer;
    padding:0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem ;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.containerHereCupon span:hover{
    text-decoration: underline wavy rgb(206, 173, 238);
    transition: all .5s ease-in-out;
}

/* input */

.containerInputCupon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    right: 3rem;
    top: 1rem;
    opacity: 0;
    transition: all 1s ease-in-out;
    visibility: hidden;
    z-index: 999999;
}

.containerInputCupon_active{
    opacity: 1;
    visibility: visible;
}

.containerInputCupon input{
    width: 28rem;
    height: 4rem;
    border-radius: 15px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    letter-spacing: -3px;
    padding: 20px 15px;
    box-shadow: 0px -5px 1rem  rgba(0, 0, 0, 0.205),
    5px 5px 15px 0 rgba(0, 0, 0, 0.712);
    letter-spacing: 3px;
    background: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur(2rem);
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.containerInputCupon button{
    width: 6rem;
    height: 4.3rem;
    position: absolute;
    left: 28rem;
    top: .13rem;
    font-size: 3rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.363);
    border: none;
    backdrop-filter: blur(2rem);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #c6a0ff;
}

.containerInputCupon button:active{
    background: rgba(255, 255, 255, 0.486);
    color: rgb(0, 255, 162);
}

/* input invisible */

.copyWallet2{
    opacity: 0;
}

.copyWallet{
    opacity: 0;
}


/* precio tachado  basic*/

.boxPrinceBasic_active{
    position: relative;
    color: rgb(230, 220, 255);
    overflow: hidden;
    padding: .5rem;
}


.imagenBanDescuento{
    position: absolute;
    top: 49%;
    left: -.5rem;
    width: 120%;
    transform: rotate(-30deg);
    opacity: 0; 
    display: none;
}

.imagenBanDescuento_active{
    display: inline-block;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.boxPriceBasicDescuento{
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.boxPriceBasicDescuento_active{
    display: inline-block;
    font-size: 3.2rem;
    opacity:1;
    transition: all .5s ease-in-out;

}

/* precio tachado boost */



.boxPrinceBoost_active{
    position: relative;
    color: rgb(230, 220, 255);
    overflow: hidden;
    padding: .5rem;
}

.imagenBanDescuentoBoost{
    position: absolute;
    top: 49%;
    left: -.5rem;
    width: 120%;
    transform: rotate(-30deg);
    opacity: 0; 
    display: none;
}

.imagenBanDescuentoBoost_active{
    display: inline-block;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.boxPriceBoostDescuento{
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.boxPriceBoostDescuento_active{
    display: inline-block;
    font-size: 3.2rem;
    opacity:1;
    transition: all .5s ease-in-out;
}


/* error cupon propio */

.errorCuponPropio{
    width: 90%;
    height: 5rem;
    border-radius: 10px;
    background-color: #000000ec;
    backdrop-filter: blur(2rem);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 6px rgba(255, 0, 0, 0.801));
    top: 12.5rem;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.errorCuponPropio_active{
    opacity: 1;
    transition: all 1s ease-in-out;
    animation: jittery 3s infinite;
}

.errorCuponPropio p{
    font-size: 1.55rem;
    text-align: center;
    padding: 0 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 1ms ease-in-out;
}



@keyframes jittery {
    5%, 50% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1);
    }
    20% {
      transform: scale(1) rotate(-3deg);
    }
    25% {
      transform: scale(1) rotate(3deg);
    }
    30% {
      transform: scale(1) rotate(-2deg);
    }
    35% {
      transform: scale(1) rotate(1deg);
    }
    40% {
      transform: scale(1) rotate(0);
    }
  }



@media screen  and (max-width: 1440px){

    .boxCopyCupon:hover > .containerCopy {
        border: 2px solid rgb(255, 255, 255);
        width: 39rem;
        height: 20rem;
        position: relative;
        right: 33rem;
        top: 8rem;
        background-color: rgb(0, 0, 0);
        transition: all .4s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
    
    .triangle{
        width: 2rem;
        height: 1.5rem;
        clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
        color: white;
        background-color: white;
        position: absolute;
        left: 90%;
        top: -1.7rem;
    }

    .containerInputCupon{
        right: 3rem;
    }

    .priceBasic_active{
        font-size: 1.5rem;
        transition: all .5s ease-in-out;
    }
    
    .priceBoost_active{
        font-size: 1.5rem;
        transition: all .5s ease-in-out;
    }
    
}


@media screen  and (max-width: 480px){

    /* popup */
    .boxCopyCupon:hover > .containerCopy {
        border: 2px solid rgb(255, 255, 255);
        width: 30rem;
        height: 15rem;
        overflow: hidden;
        position: relative;
        right: 24rem;
        top: 8rem;
    }

        
    .text1Copy{
        top: 0;
        padding: 2.5rem 1rem;
        font-size: 1.8rem ;
    }

    .text2Copy{
        padding: 2.5rem 1rem;
        font-size: 1.8rem ;
    }
    

    .boxCopyCupon{
        width: 6rem;
        left:32.4rem;
        margin-top: -13.1rem;
    }
    

    .boxCopyCupon:hover > .containerCopy {
        border: 2px solid rgb(255, 255, 255);
        width: 39rem;
        height: 20rem;
        position: relative;
        right: 33rem;
        top: 8rem;
        background-color: rgb(0, 0, 0);
        transition: all .4s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
    
    .triangle{
        width: 2rem;
        height: 1.5rem;
        clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
        color: white;
        background-color: white;
        position: absolute;
        left: 90%;
        top: -1.7rem;
    }

    .containerInputCupon{
        right: 3rem;
    }


    .priceBoostDescuento{
        font-size: 4rem !important;
    }
    .priceBasicDescuento{
        font-size: 4rem !important;
    }
}


@media screen  and (max-width: 410px){

    .boxCopyCupon{
        width: 6rem;
        left:27rem;
        margin-top: -13.1rem;
    }
    

    .boxCopyCupon:hover > .containerCopy {
        border: 2px solid rgb(255, 255, 255);
        width: 30rem;
        height: 20rem;
        overflow: hidden;
        position: relative;
        right: 24rem;
        top: 8rem;
    }

        
    .text1Copy{
        top: 0;
        padding: 2rem 0;
        font-size: 1.8rem ;
    }

    .text2Copy{
        padding: 2rem 0rem;
        font-size: 1.8rem ;
    }
    

    .containerInputCupon{
        right: 3rem;
    }



    /* input */

    .containerInputCupon input{
        width: 25rem;
        height: 4rem;
    }

    .containerInputCupon button{
        left: 25rem;
    }

    .wrapperBotton-ticketSale-Connect {
        position: relative;
        padding-top: 1rem;
        text-decoration: none;
        margin-right: 0rem;
        left: -3rem;
    }
    
    
}



@media screen  and (max-width: 355px){

    .boxCopyCupon{
        width: 6rem;
        left:25.5rem;
        margin-top: -13.1rem;
    }
    

    .boxCopyCupon:hover > .containerCopy {
        border: 2px solid rgb(255, 255, 255);
        width: 39rem;
        height: 20rem;
        position: relative;
        right: 33rem;
        top: 8rem;
        background-color: rgb(0, 0, 0);
        transition: all .4s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
    
    .triangle{
        width: 2rem;
        height: 1.5rem;
        clip-path: polygon(50% 0% , 0% 100%, 100% 100%);
        color: white;
        background-color: white;
        position: absolute;
        left: 90%;
        top: -1.7rem;
    }

    .containerInputCupon{
        right: 3rem;
    }


    /* input */

    .containerInputCupon input{
        width: 25rem;
        height: 4rem;
    }

    .containerInputCupon button{
        left: 25rem;
    }

    .wrapperBotton-ticketSale-Connect {
        position: relative;
        padding-top: 1rem;
        text-decoration: none;
        margin-right: 0rem;
        left: -3rem;
    }


     /* popup */
     .boxCopyCupon:hover > .containerCopy {
        border: 2px solid rgb(255, 255, 255);
        width: 28rem;
        height: 20rem;
        overflow: hidden;
        position: relative;
        right: 24rem;
        top: 8rem;
    }

        
    .text1Copy{
        top: 0;
        padding: 1rem 0rem;
        font-size: 1.8rem ;
    }

    .text2Copy{
        padding: 1rem 0rem;
        font-size: 1.8rem ;
    }
    
    
}



@media screen  and (max-width: 325px){

    .boxCopyCupon{
        width: 6rem;
        left:24rem;
        margin-top: -13.1rem;
    }

    .containerInputCupon input{
        width: 20rem;
        height: 4rem;
    }

    .containerInputCupon button{
        left: 20rem;
    }

    .wrapperBotton-ticketSale-Connect {
        position: relative;
        padding-top: 1rem;
        text-decoration: none;
        margin-right: 0rem;
        left: -3rem;
    }
    
}