.timer{
  position: relative;
  top: 8rem;
}

.headline  {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 4.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatar;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
  letter-spacing: 1px;
  font-family: qatar;
}
  
.reloj li {
  display: inline-block;
  font-size: 1.3rem;
  list-style-type: none;
  padding: .5rem 1rem;
  text-align: center;
  margin: 0 0.5rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatar;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}


.reloj span {
  display: block;
  font-size: 4rem;
}

.reloj li{
  font-size: 2rem;
}
  
  
@media all and (max-width: 768px) {
  .headline  {
    font-size: calc(1.5rem * var(--smaller));
  }
  
 .reloj li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
 .reloj li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}


@media screen and (max-width:480px){

  .timer{
    position: relative;
    top: 3rem;
  }
  
  .headline  {
    font-size: 4.1rem;
    letter-spacing: 1px;
  }
    
  .reloj li {
    padding: 0 .2rem;
    font-size: 1.9rem;
  }
  
  .reloj li span {
    display: block;
    font-size: 3rem;
  }
}

@media screen and (max-width:360px){
  .timer{
    position: relative;
    top: 3rem;
  }
  
  .headline  {
    font-size: 4rem;
    letter-spacing: 1px;
  }
    
  .reloj li {
    font-size: 1.4rem;
    padding: .5rem .8rem;
    font-weight: bold;
    text-align: center;
    margin: 0rem;
  }
  
  .reloj li span {
    display: block;
    font-size: 1.8rem;
  }
}