.boxSpinner{
   width: 100%;
   height: 100vh;
   background-color: rgb(0, 0, 0);
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.spinner {
   width: 160px;
   height: 160px;
   background-image: url("./src/Logo.png");
   background-size: cover;
   animation: spinner-12 2s infinite linear;
 }
 
 @keyframes spinner-12 {

   0% {
      transform: rotate(0deg);
   }
    100% {
       transform: rotate(360deg);
    }
 }