.containerTikets{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 36%, rgb(15, 15, 17) 50%, rgb(10, 10, 10) 66%, rgb(0, 0, 0) 100%);
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 10rem;
    margin-top: 13rem;
    gap: 24rem;
}

.textTikets{
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
}

.textTikets p {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 4rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
}


@media screen and (max-width:480px){

    .containerTikets{
        width: 100%;
        top: 0;
        margin-top: 0;
        gap: 2rem;
    }


    .containerTikets{
        margin-top: 10rem;
        gap: 0rem;
    }
    
    .textTikets{
        width: 100%;
    }
    
    .textTikets p {
        font-size: 2rem;
        padding: 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
    }
    


}

