.containerTikets{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 36%, rgb(15, 15, 17) 50%, rgb(10, 10, 10) 66%, rgb(0, 0, 0) 100%);
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 13rem;
    gap: 2rem;
    padding: 15rem 0;

}



.textTikets{
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10rem;
}

.textTikets p{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 4rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.tiketImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5rem 0;
}

.tiketsPreview{
    width: 13%;
    object-fit: cover;
    filter: contrast(105%);
}

.tiketsPreview:hover{
    filter: drop-shadow(0 0 20px rgba(111, 0, 255, 0.411));
}

@media screen and (max-width:480px){

    .containerTikets{
        width: 100%;
        z-index: 10;
        margin-top: 13rem;
        gap: 0rem;
    }
    
    .textTikets{
        width: 100%;
        gap:10rem;
    }
    
    .textTikets p{
        font-size: 2rem;
        padding: 1rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        text-align: center;
    }

    .tiketsPreview{
        width: 100%;
        object-fit: cover;
        filter: hue-rotate(200deg);
    }
    

    
 
  

}

