.containerHome{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(16,16,18,1) 36%, #121213 50%, rgba(16,16,18,1) 66%, rgba(0,0,0,1) 100%);
    position: relative;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

.containerPrincipalHome{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    z-index: 10;
}


.containerPrincipalHome img{
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  object-fit: cover;
  filter: contrast(108%) brightness(140%);
  opacity: .8;
}

.containerPrincipalHome::after{
    content: " ";
    position: absolute;
    bottom: -5rem;
    height: 10rem;
    width: 100vw;
    left: -2rem;
    background-color: black;
    filter: blur(20px);
    z-index: 10;
}

.textPrincipalHome{
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap;
}

.tite-home{
    position: absolute;
    top: 24rem;
    left: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;

}

.tite-home p{
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.cupWebGl {
    position: relative;
    cursor: grab;
    left: -12rem;
    top: -7rem;
}

.buttons_title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}

/* 


.Whitelist-buttonTitle,.Tikets-buttonTitle {
    position: relative;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
   background-color: rgb(19, 19, 19); 
   background: rgb(230,112,60);
background: linear-gradient(90deg, rgba(230,112,60,1) 0%, rgba(237,137,43,1) 43%, rgba(255,195,110,1) 97%);
    border-radius: 4px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.5;
    padding: .6rem 2rem;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    border: none;
    z-index: 1;
  }
  .Whitelist-buttonTitle:after,  .Tikets-buttonTitle:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #843bfa;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .Whitelist-buttonTitle:hover, .Tikets-buttonTitle:hover{
    color: #fff;
    transition:  all .5s ease-in-out;
  }
  .Whitelist-buttonTitle:hover:after , .Tikets-buttonTitle:hover:after {
    left: 0;
    width: 100%;
  }
  .Whitelist-buttonTitle:active, .Tikets-buttonTitle:active {
    top: 2px;
  } */



  .Whitelist-buttonTitle + .Whitelist-buttonTitle { margin-top: 1em; }

  .Whitelist-buttonTitle, .Tikets-buttonTitle {
    position: relative;
    font-size:2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0rem 1.2rem;
    display: inline-block;
    border: none;
    border-radius: .3em;
    line-height: 2.5em;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
                inset 0 -2px 5px 1px rgba(139,66,8,1),
                inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
    border: none;

}


.Whitelist-buttonTitle:focus, .Tikets-buttonTitle:focus,
.Whitelist-buttonTitle:hover, .Tikets-buttonTitle:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
                inset 0 -2px 5px 1px #df9a05,
                inset 0 -1px 1px 3px rgb(255, 241, 183);
  color: rgba(0, 0, 0, 0.897);
  text-shadow: 0 0 .001rem black;
  filter: drop-shadow(0 0 3px rgba(202, 119, 4, 0.788));
}
.Whitelist-buttonTitle:active, .Tikets-buttonTitle:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}
  


.particleVideo{
  width: 100%;
  position: absolute;
  opacity: .5;
  filter: contrast(150%) brightness(110%);

}


.particleVideo video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}












.tournament{
  width: 100%;
  height: 100vh;
  position: relative;
/*   background-image: url("./src/banner-iz.png");
  background-size:cover; */
  
}

.tikets{
  width: 100%;
  height: 100vh;
  position: relative;
}
