.wrapperBotton{
  padding: 1.1rem;
  transition: all 0.5s ease;
  filter: drop-shadow( 0 0 10px rgba(191, 112, 255, 0.473)) brightness(140%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.801);
  width: 21.5rem; /* 145px */
  height: 5.42rem;   /* 60px */
  border-radius: 8px;
  background: linear-gradient(90.23deg,#5f3d74fb -1.47%,#251a35fd 99.8%);
  box-shadow: rgba(0, 0, 0, 0.432) 3px 3px 4px 0px inset, rgba(0, 0, 0, 0.432) -3px -3px 4px 1px inset;
  border: 3px ridge rgba(0, 0, 0, 0.815);
}


.wrapperBotton:hover{
  scale: 1.04;
  transition: all .5s ease;
}

.btn{
  margin-top: .1rem;
}

.btn p {
  color: white;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatarHeavy;
  padding: 0 1rem;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}


@media screen and (max-width:480px){
  .btn p {
    font-size: 1.7rem;
    letter-spacing: 1px;
    padding: 0 0rem;
  }

  .btnPresale p{
    font-size: 1.7;
    letter-spacing: 1px;
  }

  .comingSoon {
    left: 10%;
  }

  .wrapperBotton{
    width: 16.5rem;
    margin: 0 0rem;
    height: 5.8rem;
  }

  .btnPresale {
    width: 15.5rem;
    height: 5.8rem;
  }

  .btnPresale::after {
    width: 14.6rem;
    height: 4.9rem;
}

  .BorderTopBottomPresale:before {
    width: 13.8rem;
  }
}


@media screen and (max-width:355px){
  .btn p {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }

  .wrapperBotton{
    margin-left: .5rem;
  }


  .comingSoon {
    left: 10%;
  }

  .wrapperBottonPresale .btnPresale {
    width: 12.5rem;
    margin: 0 2rem;
  }

}