.containerReferidos{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color:black;
    margin-top: 45rem;
}

.containerReferidos::before{
    height: 2rem;
    content: " ";
    top: -.5rem;
    width: 98%;
    height: .3rem;
    border: 2px solid rgba(178, 149, 202, 0.671);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    position: absolute;
    z-index: 2000;
}

.containerReferidos::after{
    height: 2rem;
    content: " ";
    bottom: -.5rem;
    width: 98%;
    height: .3rem;
    border: 2px solid rgba(178, 149, 202, 0.671);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    position: absolute;
    z-index: 2000;
}

.containerPelota{
    width: 100%;
}

.pelota{
    position: absolute;
    z-index: -1;
    bottom: -30.9rem;
    left: 0;
    width: 15rem;
    cursor: pointer;
    filter: contrast(103%) brightness(110%);
}

.cesped{
    position: absolute;
    z-index: 2990;
    bottom: -45rem;
    width: 100%;
    height: 5rem;
    object-fit: contain;
    background-image: url("../tikets/src/cesped.png");
    background-repeat: repeat-x;
    background-size: contain;
    filter: contrast(123%) brightness(100%) ;
}

.backReferidos{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
}


.cortinaTop{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color:rgb(14, 14, 14);
    z-index: 150;
    border: 2px solid rgba(0, 0, 0, 0.774);
    border-left: none;
    border-right: none;
    border-top: none;
    filter: contrast(120%) ;
}

.cortinaBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color:rgb(14, 14, 14);
    z-index: 150;
    border: 2px solid rgba(0, 0, 0, 0.774);
    border-left: none;
    border-right: none;
    border-bottom: none;
    filter: contrast(120%) ;
}


.smoke{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10rem;
}

.smokeVideo{
    width: 100%;
    height: 120%;
    object-fit: cover;
    filter: hue-rotate(155deg) contrast(100%) brightness(80%);
}

/* box */

.boxReferidos_t{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 100;
    opacity: 0;
}

.boxReferidos_t::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.616);
}

.ticketsReferidos{
    width: 45%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.507)) contrast(115%) brightness(105%);
    z-index: 100;
}


.textsReferidos {
    color: white;
    z-index: 100;
    position: relative;
    width: 45%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    top:-3rem;
}


.textsReferidos h2{
    font-size: 6rem;
    columns: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 100;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1), ;
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    padding-bottom: 2rem;
    font-family: qatarHeavy;
    filter: drop-shadow( -1px 5px 2px rgba(10, 0, 29, 0.562));
}

.textsReferidos p{
    font-size: 2rem;
    width: 100%;
    letter-spacing: 1.2px;
    font-weight:bolder;
    text-align: center;
    filter: drop-shadow(0 0 50px black);
}


.spanColor{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    padding: 0 .5rem;
    text-transform: uppercase;
}

.linesBackTop{
    width: 100%;
    position: absolute;
    height: 2rem;
    object-fit: cover;
    background-repeat: repeat-x;
    bottom: 0;
}

.linesBackBottom{
    width: 100%;
    position: absolute;
    height: 2rem;
    object-fit: cover;
    background-repeat: repeat-x;
    background-position: top;
    top: 0;
}

@media screen and (max-width:1440px){
    .containerReferidos{
        padding: 10rem 0;
    }


    .textsReferidos {
        width: 100%;
        width: 52%;
    }

    .ticketsReferidos {
        width: 42%;
    }

    .textsReferidos h2{
        font-size: 6rem;
        letter-spacing: 2px;
        padding-bottom: 0rem;
    }

    .textsReferidos p{
        font-size: 1.8rem;
        letter-spacing: 1px;
    }

}


@media screen and (max-width:1170px){


    .boxReferidos_t{
        flex-direction: column;
        flex-wrap: nowrap;
    }


    .textsReferidos {
        width: 80%;
        padding: 0;
        top: 0;
    }

    .ticketsReferidos {
        width: 70%;
    }

    .textsReferidos h2{
        font-size: 6rem;
        letter-spacing: 2px;
        padding-bottom: 0rem;
    }

    .textsReferidos p{
        font-size: 2rem;
        letter-spacing: 1px;
    }
  
}



@media screen and (max-width:800px){

    .containerReferidos{
        margin-top:10rem;
    }

    .textsReferidos {
        width: 100%;
        width: 85%;
        padding: 0;
        top: 0;
    }

    .ticketsReferidos {
        width: 80%;
    }

    .cortinaBottom, .cortinaTop{
        display: none;
    }

    .smoke{
        display: none;
    }

    .pelota{
        display: none;
    }

    .cesped{
        display: none;
    }
    
    .backReferidos{
        display: none;
    }


    .boxReferidos_t{
        opacity: 1;
    }

    
    .containerReferidos{
        background-image: url("./src/backReferidos.jpg");
        background-attachment: fixed;
        background-position: 50% 50%;
    }

    
}

@media screen and (max-width:700px){



    .textsReferidos {
        width: 80%;
        padding: 0;
        top: 0;
    }


    .textsReferidos h2{
        font-size: 5rem;
        letter-spacing: 2px;
        padding-bottom: 0rem;
    }

    .textsReferidos p{
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
   
}

@media screen and (max-width:500px){



    .textsReferidos {
        width: 100%;
        width: 85%;
        padding: 0;
        top: 0;
    }

    .textsReferidos h2 {
        font-size: 4rem;
    }


    .ticketsReferidos {
        width: 85%;
    }
    
}

@media screen and (max-width:360px){


    .textsReferidos h2 {
        font-size: 3.5rem;
    }


    .ticketsReferidos {
        width: 85%;
    }
    
}