.containerReferidos{
    width: 100%;
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
}

.backReferidos{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: contrast(120%) brightness(120%) grayscale(.4) hue-rotate(20deg);
    object-fit: cover;
    z-index: 1;
}


.containerReferidos::after{
    width: 110%;
    height: 2rem;
    content: " ";
    top: -.5rem;
    width: 100%;
    height: .3rem;
    background-color:#ffffffaf;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
    position: absolute;
    z-index: 150;
}


.cortinaTop{
    position: absolute;
    width: 100%;
    height:24.5rem;
    top: -.2rem;
    background-color:#080808;
    backdrop-filter: blur(1rem);
    border: 2px solid rgba(0, 0, 0, 0.774);
    border-left: none;
    border-right: none;
    border-top: none;
    z-index: 150;
}

.cortinaBottom{
    position: absolute;
    width: 100%;
    height: 24.5rem;
    bottom: -.2rem;
    background-color:#080808;
    backdrop-filter: blur(1rem);
    border: 2px solid rgba(0, 0, 0, 0.774);
    border-left: none;
    border-right: none;
    border-bottom: none;
    z-index: 100;
}

.textsReferidos {
    color: white;
    z-index: 100;
    position: relative;
    width: 100%;
    width: 55%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.textsReferidos::before{
    content: "";
    position: absolute;
    width: 300%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(2px);
}

.textsReferidos h2{
    font-size: 6.2rem;
    columns: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 100;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    padding-bottom: 2rem;
    font-family: qatarHeavy;
}

.textsReferidos p{
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3.5rem;
    text-align: center;
    filter: drop-shadow(0 0 20px black);
}

.textsReferidos span{
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.spanColor{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    font-size: 3rem !important;
    font-weight: bold;
    padding: 0 1.5rem;
    font-family: qatarHeavy;
}

.linesBackTop{
    width: 100%;
    position: absolute;
    height: 2rem;
    object-fit: cover;
    background-repeat: repeat-x;
    bottom: 0;
}

.linesBackBottom{
    width: 100%;
    position: absolute;
    height: 2rem;
    object-fit: cover;
    background-repeat: repeat-x;
    background-position: top;
    top: 0;
}

@media screen and (max-width:1440px){

    .containerReferidos{
        height: 60vh;
    }

    .containerReferidos::after{
        top: -.5rem;
        width: 100%;
        height: .3rem;
        box-shadow: 0 0 10px #913cff, 0 0 20px #994bff85;
    }

    .textsReferidos {
        width: 100%;
        width: 60%;
        gap: 4rem;
    }

    .textsReferidos h2{
        font-size: 5rem;
        letter-spacing: 2px;
        padding-bottom: 0rem;
    }

    .textsReferidos p{
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 3rem;
    }

    .textsReferidos span{
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        font-weight: 600;
    }

    .spanColor{
        font-size: 3rem !important;
        padding: 0 .5rem;
    }


    .cortinaTop{
        position: absolute;
        width: 100%;
        height:24.5rem;
        top: -5.7rem;
    }
    
    .cortinaBottom{
        width: 100%;
        height: 24.5rem;
        bottom: -5.7rem;
    }
    
}


@media screen and (max-width:1170px){

    .textsReferidos {
        width: 100%;
        width: 80%;
        gap: 4rem;
        
    }

    .textsReferidos h2{
        font-size: 5.5rem;
        letter-spacing: 2px;
        padding-bottom: 0rem;
    }

    .textsReferidos p{
        font-size: 1.7rem;
        letter-spacing: 2px;
        line-height: 3.5rem;
    }

    .textsReferidos span{
        font-size: 1.8rem;
        letter-spacing: 2px;
    }

    .spanColor{
        font-size: 2.8rem !important;
        padding: 0 2rem;
    }
}



@media screen and (max-width:970px){

    .textsReferidos {
        width: 100%;
        width: 90%;
        gap: 4rem;
        
    }

    .textsReferidos h2{
        font-size: 5.5rem;
        letter-spacing: 2px;
        padding-bottom: 0rem;
    }

    .textsReferidos p{
        font-size: 1.6rem;
        letter-spacing: 1px;
        line-height: 3.5rem;
    }

    .textsReferidos span{
        font-size: 1.7rem;
        letter-spacing: 1.5px;
    }

    .spanColor{
        font-size: 2.5rem !important;
        padding: 0 2rem;
    }
}


@media screen and (max-width:800px){
    .containerReferidos{
        display: none;
    }
    
}