.tokens{
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 36%, rgb(15, 15, 17) 50%, rgb(10, 10, 10) 66%, rgb(0, 0, 0) 100%);
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24rem;
}

  
/* .tokens::before{
    content: " ";
    position: absolute;
    top: -18rem;
    height: 20rem;
    width: 100vw;
    left: -2rem;
    background-color: rgb(3, 3, 3);
    filter: blur(20px);
    z-index: 10;
} */

.tokenWebGl {
    position: relative;
    width: 10%;
    cursor: grab;
}



.containerToken{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
    width: 100%;
}


.textToken{
    position: relative;
    top: 15%;
    width: 32%;
}

.textToken p{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 4rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
}


.backgroundReflejo-token{
    width: 100%;
    opacity: .1;
    position: absolute;
    object-fit: contain;
    height: 100vh;
    filter: blur(3px) ;
}
