.tournamentContainer{
    width: 100%;
    background: rgb(0,0,0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-bottom: 31rem;
}


.tournamentContainer::before{
    content: " ";
    position: absolute;
    top: -15rem;
    height: 20rem;
    width: 100vw;
    left: -2rem;
    background-color: rgb(0, 0, 0);
    filter: blur(50px);
    z-index: 10;
}

.boxTournament{
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    position: relative;
}

.containerTexts{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
    filter: drop-shadow(0 0 40px black);
}


.tournamentTitle h3{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
}

.subTitlePrize{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.subTitleNft{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 3rem;
}


.containerTexts h5{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-size: 4.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
}

.containerTexts p {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem ;
    letter-spacing: 1px;
    line-height: 3.3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
    filter: drop-shadow(0 0 40px black);
}

.subTitleNft p{
    padding:  3rem 12rem;
}

.tournament1{
/*  background-image: url("./src/vs.jpg"); */
    background-size: cover;
    background-position: top;
}

.tournament2{
/*  background-image: url("./src/vs.jpg"); */
    background-size: cover;
    background-position: top;
}

.tournament3{
/*  background-image: url("./src/vs.jpg"); */
    background-size: cover;
    background-position: top;
}

.tournament4{
/*  background-image: url("./src/vs.jpg"); */
    background-size: cover;
    background-position: top;
}

.tournamentTitle h2{
    font-size: 5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/* fondo */

.backgroundReflejo{
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: contrast(110%) brightness(115%);
    opacity: .4;
} 

/* ------TOURNAMENTS------ */

.tiposTorneos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
    margin-top: 5rem;
    perspective: 150em;
    margin-bottom: 10rem;
}

.front h1 {
    font-size: 2.2em;
}
.flip {
    position: relative;
}
.flip > .front, .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}
.flip > .front {
    transform: rotateY(0deg);
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.flip:hover > .front {
    transform: rotateY(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 330px;
}
.flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 380px;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 1px inset rgba(255, 232, 182, 0.719);
}

.text-shadow{
    font-weight: 300;
    position: absolute;
    font-size: 1.5rem;
    top: 25px;
    width: 100%;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #d47d35, #d1a346, #fef1a2, #d1a346, #d47d35);
}

.back{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    gap: 2rem;
}

.back h2{
    font-weight: 300;
    font-size: 1.8rem;
    top: 25px;
    width: 100%;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
}

.back p{
    margin-top: 3rem;
    font-weight: 300;
    font-size: 1.5rem;
    top: 25px;
    width: 100%;
}


.tournamentTitle h2{
    font-size: 6.5rem;
}

@media screen and (min-width: 2550px){

    .containerTexts{
        gap: 15rem;
    }

    .titleContainers h2{
        font-size: 15rem;
    }
    
    .containerTexts p {
        line-height: 4.5rem;
        font-size: 3rem;
    }

    .containerTexts h5 {
        font-size: 5.5rem;
    }

    .card {
        margin-top: 3rem;
        height: 450px;
        width: 350px;
    }
}



@media screen and (max-width: 1440px){

    .titleContainers h2{
        padding: 2rem;
        font-size: 4rem;
        letter-spacing: 1px;
    }
    
    .containerTexts p {
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }

    .subTitlePrize{
        width: 65%;
    }
    
    .subTitleNft{
        width: 65%;
        padding: 1rem 0;
    }

    .subTitleNft h5{
        padding: 4rem 0;
        font-size: 4rem;

    }

    .backgroundReflejo{
        width: 160rem;
        height: 100%;
        position: absolute;
        object-fit: contain;
        filter: contrast(110%) brightness(115%);
    } 
    /* ------TOURNAMENTS------ */

    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }

    .card {
        display: flex;
        border-radius: 10px;
    }
    
    .title {
        font-weight: 300;
        font-size: 1.8rem;
        top: 25px;
        width: 100%;
    }

    .tournament1:hover{
        transform: scale(1.5) ;
        left: -5rem;
    }
    
    .tournament2:hover{
        transform: scale(1.5) ;
        left: 5rem;
    }
    
    .tournament3:hover{
        transform: scale(1.5) ;
        left: 5rem;

    }
    
    .tournament4:hover{
        transform: scale(1.5) ;
        left: 5rem;
    }
}


@media screen and (max-width: 1170px){
    
    .titleContainers h2{
        font-size: 5.5rem;
    }
    
    .containerTexts p {
        font-size: 1.7rem;
    }

    .subTitlePrize{
        width: 70%;
    }
    
    .subTitleNft{
        width: 65%;
    }
    
    /* ------TOURNAMENTS------ */

    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }

    .card {
        display: flex;
        border-radius: 10px;
    }
    
    .title {
        font-weight: 300;
        font-size: 1.8rem;
        top: 25px;
        width: 100%;
    }

    .tournament1:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }
    
    .tournament2:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }
    
    .tournament3:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }
    
    .tournament4:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }

}



@media screen and (max-width: 800px){

    .titleContainers h2{
        font-size: 4.5rem;
    }
    
    .containerTexts p {
        font-size: 1.6rem;
    }

    .subTitlePrize{
        width: 90%;
    }
    
    .subTitleNft{
        width: 90%;
    }
    
}


@media screen and (max-width: 600px){

    .titleContainers h2{
        font-size: 4rem;
    }
    
    .containerTexts p {
        font-size: 1.5rem;
        text-align: initial;
    }

    .subTitlePrize{
        width: 94%;
    }
    
    .subTitleNft{
        width: 90%;
    }
    
}


@media screen and (max-width: 480px){

    .tournamentContainer{
        padding-bottom: 0rem;
    }
    
    
    .tournamentContainer::before{
        display: none;
    }

    .flip {
        width: 300px;
    }
    .flip > .front, .flip > .back {
        height: 380px;
    }

    .tournamentContainer{
        width: 100%;
        gap: 8rem;
    }
    
    .titleContainers h2{
        font-size: 3rem;
        padding: 1rem;
    }

    .boxTournament{
        padding-top: 10rem;
        gap: 6rem;
    }

    .containerTexts{
        width: 100%;
        text-align: inherit;
    }
    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 3rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 1rem;
        margin-left: 1rem;
        letter-spacing: 1px;
        line-height: 3.1rem;
        font-size: 1.5rem;
        text-align: inherit;
    }
    
    /* ------TOURNAMENTS------ */

    .tiposTorneos{
        flex-direction: column;
        gap: 5rem;
        margin-top: 5rem;
    }

    .title {
        font-weight: 300;
        font-size: 1.8rem;
        top: 25px;
        width: 100%;
    }

}

@media screen and (max-width: 395px){

    .flip {
        width: 280px;
    }
    .flip > .front, .flip > .back {
        height: 380px;
    }


    .titleContainers h2{
        font-size: 3.5rem;
        padding: 0;
    }
    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 2rem;
        padding-right: 2rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.4rem;
        text-align: inherit;
    }



}