.tournamentContainer{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 36%, rgb(15, 15, 17) 50%, rgb(10, 10, 10) 66%, rgb(0, 0, 0) 100%);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
}


.tournamentContainer::before{
    content: " ";
    position: absolute;
    top: -15rem;
    height: 20rem;
    width: 100vw;
    left: -2rem;
    background-color: rgb(0, 0, 0);
    filter: blur(50px);
    z-index: 10;
}

.boxTournament{
    padding-top: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    position: relative;
}

.containerTexts{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
}

.subTitlePrize{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.subTitleNft{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 3rem;

}



.containerTexts h5{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    font-size: 3.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    letter-spacing: 1px;
}


.containerTexts p {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 4rem;
    letter-spacing: .5px;
    line-height: 3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.backgroundReflejo{
    width: 100%;
    opacity: .1;
    position: absolute;
    object-fit: contain;
    height: 100vh;
    filter: hue-rotate(240deg) contrast(103%);
}

.tournament1{
    background-image: url("./src/vs.jpg");
    background-size: cover;
    background-position: top;
}

.tournament2{
    background-image: url("./src/vs.jpg");
    background-size: cover;
    background-position: top;
}

.tournament3{
    background-image: url("./src/vs.jpg");
    background-size: cover;
    background-position: top;
}

.tournament4{
    background-image: url("./src/vs.jpg");
    background-size: cover;
    background-position: top;
}


.copaPng{
    width: 17rem;
    position: absolute;
    filter: grayscale(1) contrast(140%) drop-shadow(-10px -30px 80px rgba(165, 122, 245, 0.61)) blur(1.5px);
    opacity: 0.74;
    left: 11%;
    bottom: 5rem;
}


/* ------TOURNAMENTS------ */

.tiposTorneos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    margin-top: 5rem;
    perspective: 150em;
    width: 100vw;
    margin-bottom: 10rem;
}

.card {
    display: flex;
    height: 300px;
    width: 210px;
    background-color: #1c1b1d;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    box-shadow: rgb(125, 144, 160) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    left: 0px;
    transition: all 0.6s ease;
}

.card:not(:first-child) {
    margin-left: -10px;

}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  font-weight: 300;
  position: absolute;
  font-size: 1.5rem;
  top: 25px;
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
  inset 0 -2px 5px 1px rgba(139,66,8,1),
  inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
}
  

.tournament1:hover{
    transform: scale(1.6) ;
    background-image: url("./src/copaMundo.png");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    transition-delay: .1s;
    z-index: 10000;

}

.tournament2:hover{
    transform: scale(1.6) ;
    background-image: url("./src/copaMundo.png");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    transition-delay: .1s;
    z-index: 10000;

}


.tournament3:hover{
    transform: scale(1.6) ;
    background-image: url("./src/copaMundo.png");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    transition-delay: .1s;
    z-index: 10000;

}

.tournament4:hover{
    transform: scale(1.6) ;
    background-image: url("./src/copaMundo.png");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    transition-delay: .1s;
    z-index: 10000;

}

.tournament1:hover ~ .card {
    box-shadow: none;
}

.tournament2:hover ~ .card {
    box-shadow: none;
}

.tournament3:hover ~ .card {
    box-shadow: none;
}

.tournament4:hover ~ .card {
    box-shadow: none;
}

@media screen and (max-width: 1440px){

    .titleContainers h2{
        padding: 2rem;
        font-size: 11rem;
        letter-spacing: 1px;
    }
    
    .containerTexts p {
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.8rem;
    }

    .subTitlePrize{
        width: 65%;
    }
    
    .subTitleNft{
        width: 65%;
    }
    
    /* ------TOURNAMENTS------ */

    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }


    .card {
        display: flex;
        border-radius: 10px;
    }
    
    
    .title {
        font-weight: 300;
        font-size: 1.8rem;
        top: 25px;
        width: 100%;
    }

    .tournament1:hover{
        transform: scale(1.5) ;
        left: -5rem;
    }
    
    .tournament2:hover{
        transform: scale(1.5) ;
        left: 5rem;
    }
    
    
    .tournament3:hover{
        transform: scale(1.5) ;
        left: 5rem;

    }
    
    .tournament4:hover{
        transform: scale(1.5) ;
        left: 5rem;
    }
    
}


@media screen and (max-width: 1170px){

    
    .titleContainers h2{
        font-size: 10rem;
    }
    
    .containerTexts p {
        font-size: 1.7rem;
    }

    .subTitlePrize{
        width: 70%;
    }
    
    .subTitleNft{
        width: 65%;
    }
    
    /* ------TOURNAMENTS------ */

    .tiposTorneos{
        flex-direction: row;
        gap: 5rem;
        padding: 0 3rem;
    }


    .card {
        display: flex;
        border-radius: 10px;
    }
    
    
    .title {
        font-weight: 300;
        font-size: 1.8rem;
        top: 25px;
        width: 100%;
    }

    .tournament1:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }
    
    .tournament2:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }
    
    
    .tournament3:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }
    
    .tournament4:hover{
        transform: scale(1.1) ;
        left: 0rem;
    }

}



@media screen and (max-width: 800px){

    
    .titleContainers h2{
        font-size: 8rem;
    }
    
    .containerTexts p {
        font-size: 1.6rem;
    }

    .subTitlePrize{
        width: 90%;
    }
    
    .subTitleNft{
        width: 90%;
    }
    
}


@media screen and (max-width: 600px){

    
    .titleContainers h2{
        font-size: 6.6rem;
    }
    
    .containerTexts p {
        font-size: 1.5rem;
        text-align: initial;
    }

    .subTitlePrize{
        width: 94%;
    }
    
    .subTitleNft{
        width: 90%;
    }
    
}



@media screen and (max-width: 480px){

    .tournamentContainer{
        width: 100%;
        gap: 8rem;
    }
    
    .titleContainers h2{
        font-size: 5.5rem;
    }

    .boxTournament{
        padding-top: 10rem;
        gap: 6rem;
    }

    .containerTexts{
        width: 100%;
        text-align: inherit;
    }
    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 3.5rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 4rem;
        padding-right: 2rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.6rem;
        text-align: inherit;
    }


    
    /* ------TOURNAMENTS------ */

    .tiposTorneos{
        flex-direction: column;
        gap: 5rem;
        margin-top: 5rem;
    }


    .card {
        display: flex;
        height: 350px;
        width: 300px;
        border-radius: 10px;
        left: 0px;
    }
    
    .card:not(:first-child) {
        margin-left: 0px;
    }

    .card:hover {
        transform: translateY(-3px);
        transition: 0.4s ease-out;
      }
      
      .card:hover ~ .card {
        left: 0px;
        transition: 0.4s ease-out;
      }
    
    
    .title {
        font-weight: 300;
        font-size: 1.8rem;
        top: 25px;
        width: 100%;
    }
    
    .tournament1:hover ~ .card {
        opacity: 1;
    }
    
    .tournament2:hover ~ .card {
        opacity: 1;
    }
    
    .tournament3:hover ~ .card {
        opacity: 1;
    }
    
    .tournament4:hover ~ .card {
        opacity:1;
    }
    

    
    .tournament1:hover ~ .card__side--front {
        transform: rotateY(0);
    }

    .tournament2:hover ~ .card__side--front {
        transform: rotateY(0);
    }

    .tournament3:hover ~ .card__side--front {
        transform: rotateY(0);
    }

    .tournament4:hover ~ .card__side--front {
        transform: rotateY(0);
    }

    .tournament1:hover ~ .card {
        box-shadow: rgb(125, 144, 160) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    
    .tournament2:hover ~ .card {
        box-shadow: rgb(125, 144, 160) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    
    .tournament3:hover ~ .card {
        box-shadow: rgb(125, 144, 160) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    
    .tournament4:hover ~ .card {
        box-shadow: rgb(125, 144, 160) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    
}


@media screen and (max-width: 395px){

    
    .titleContainers h2{
        font-size: 4.5rem;
    }


    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 3rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 2rem;
        padding-right: 2rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.4rem;
        text-align: inherit;
    }

    .card {
        display: flex;
        height: 330px;
        width: 280px;
        border-radius: 10px;
        left: 0px;
    }


}