.containerHome{
  width: 100%;
  background: rgb(0,0,0);
  position: relative;
  top: 0;
  z-index: 999999 !important;
  overflow: hidden;
}

.containerPrincipalHome{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_1080,q_auto:best,w_2100/v1662063598/CryptocupQatar/Home%20/BackToken_oqafq0.webp");
  background-size: cover;
  background-position:100% 50%;
  filter: brightness(110%) contrast(110%) ;
}

.containerPrincipalHome::before{
  content: " ";
  position: absolute;
  bottom: -5rem;
  height: 100rem;
  width:27vw;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.623);
  filter: blur(80px);
  z-index: 12;
}

.containerPrincipalHome::after{
  content: " ";
  position: absolute;
  bottom: -5rem;
  height: 10rem;
  width: 120vw;
  left: -5rem;
  background-color: rgba(0, 0, 0, 0.952);
  filter: blur(20px);
  z-index: 11;
}


.textPrincipalHome{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  z-index: 16;
}

.tite-home{
  position: absolute;
  top: 21rem;
  left: 15rem; /* 27 */
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}

.tite-home h1{
  font-size: 6rem;
  text-align: center;
  letter-spacing: 0px;
  line-height: 5.5rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatarHeavy;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #7a55ff, #c18aff, #d5b9ff, #ffffff, #d5b9ff, #c18aff, #5b2dff);
}

.buttonsHome a {
  text-decoration: none;
}

.buttonsHome{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-left: 2rem;
}


/* button Presale */




.btnPresale {
  width: 16.4rem; /* 145px */
  height: 5.6rem;   /* 60px */
  margin: 0 3rem;
  text-align: center;
  cursor: pointer;
  filter: drop-shadow( 0 0 5px rgba(182, 136, 255, 0.377)) brightness(140%);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fireVision 2s infinite linear;
  transition: all .5s ease;
  border-radius: 8px;  
}

.btnPresale:hover{
  scale: 1.04;
  transition: all .5s ease;
}



@keyframes fireVision {
  0%{
    filter: drop-shadow( 0 0 0px rgba(226, 182, 255, 0.24)) brightness(140%);
    box-shadow: 0 0 0rem rgba(75, 7, 165, 0.288);
  }
  50%{
    filter: drop-shadow( 0 0 20px rgba(224, 178, 255, 0.212)) brightness(140%);
    box-shadow: 0 0 2rem rgba(165, 73, 250, 0.308);
  }
  100%{
    filter: drop-shadow( 0 0 0px rgba(221, 185, 255, 0.281)) brightness(140%);
    box-shadow: 0 0 .5rem rgba(94, 7, 165, 0.253);
  }
}


.btnPresale::after{
  content: "";
  position: absolute;
  width: 15.5rem; /* 145px */
  height: 4.8rem;
  top: 49.5%;
  transform: translate(0 , -50%);
  z-index: 20 !important;
  border-radius: 8px;
  background: linear-gradient(90.23deg,#5f3d74fb -1.47%,#251a35fd 99.8%);
  box-shadow: rgba(0, 0, 0, 0.514) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.514) -3px -3px 6px 1px inset;
  border: 3px ridge rgba(0, 0, 0, 0.815);
}

.btnPresale p{
  color: white;
  z-index: 22 !important;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: qatarHeavy;
  padding: 0 1rem;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
}

.btnPresale video {
  width: 16.5rem; /* 145px */
  height: 9rem;   /* 60px */
  position: absolute;
  z-index: -1  !important;
  pointer-events: none;
  opacity: 1;
  
}

.firegif{
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 30;
  right: -.3rem;
  border-radius: 10px;

  bottom: -.35rem;
  transform: rotate(-20deg);
  opacity: .5;
}

.firegif2{
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 30;
  left: -.5rem;
  bottom: -.25rem;
  opacity: .5;
  transform: rotate(60deg);
}


@media screen and (min-width: 2550px){

    .textPrincipalHome{
        width:100%;
        gap: 2rem;
    }

    .tite-home{
        top: 35rem;
        left: 20rem;
        gap: 4rem;
    }

    .tite-home p{
        font-size: 10rem;
        letter-spacing: 2px;
        line-height: 9rem;
    }

    .buttons_title{
        gap: 2rem;
    }

    .particleVideo{
      position: absolute;
      opacity: .2;
      z-index: 13;
      width: 100%;
      filter: contrast(280%) brightness(100%) hue-rotate(-160deg);
    }
    
    .particleVideo video{
      width: 100%;
      object-fit: cover;
    }
}


@media screen and (max-width: 1440px){

  .containerPrincipalHome::before{
    content: " ";
    position: absolute;
    bottom: -5rem;
    height: 100rem;
    width:40vw;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.726);
    filter: blur(80px);
    z-index: 12;
  }

  .buttonsHome{
    margin-left: 2rem;
  }
  

  .textPrincipalHome{
      width:100%;
      gap: 2rem;
  }

  .tite-home{
      top: 24%;
      left: 10rem;
      gap: 4rem;

  }

  .titlePrincipal p{
      font-size: 4rem;
      letter-spacing: 2px;
  }

  .tite-home h1 {
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 4.3rem;
  }
  
  .cupWebGl {
      position: relative;
      cursor: grab;
      left: -12rem;
      top: -7rem;
  }

  .buttons_title{
      gap: 2rem;
  }

  .containerPrincipalHome{
    background-position: 65% ;
  }
}


@media screen and (max-width: 1170px){

  .titlePrincipal{
      font-size: 5.8rem;
      letter-spacing: 2px;
  }

  .containerPrincipalHome{
    background-position: 65% ;
  }

  .containerPrincipalHome::before{
    content: " ";
    position: absolute;
    bottom: 0rem;
    height: 100rem;
    width: 50vw;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.842);
    filter: blur(190px);
    z-index: 11;
  }

}

@media screen and (max-width: 800px){
  .tite-home{
    left: 5rem;
    gap: 4rem;
  }

  .titlePrincipal{
      font-size: 5.8rem;
      letter-spacing: 2px;
  }
  .containerPrincipalHome{
    background-position: 70% ;
  }
  
  .containerPrincipalHome::before{
    content: " ";
    position: absolute;
    bottom: -5rem;
    height: 100rem;
    width:90vw;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.712);
    filter: blur(80px);
    z-index: 12;
  }

}

@media screen and (max-width: 600px){


  

  .tite-home{
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    gap: 4rem;
  }

  .titlePrincipal{
      font-size: 5rem;
      letter-spacing: 2px;
      text-shadow: 0 0 5rem rgba(0, 0, 0, 0.788);
      filter:  contrast(135%) brightness(120%) drop-shadow(0 0 20px black);
  }
  .containerPrincipalHome{
    background-position: 70% ;

  }

}

@media screen and (max-width:480px){
  .buttonsHome{
    margin-left: 2rem;
  }
  .tite-home{
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    gap: 4rem;
  }

  .tite-home .titlePrincipal{
      font-size:4rem;
      line-height: 3.6rem;
      letter-spacing: 2px;
      filter:  contrast(135%) brightness(120%)/*  drop-shadow(0 0 20px black) */;
      text-shadow: none;
      background-image: linear-gradient(160deg, #9655ff, #956eff, #d5b9ff, #fffffff3, #b397ff, #956eff, #9655ff);
  }

  .containerPrincipalHome::before{
    content: " ";
    position: absolute;
    bottom: 0rem;
    height: 100rem;
    width: 90vw;
    left: 0rem;
    background-color: rgb(0, 0, 0);
    filter: blur(190px);
    z-index: 11;
  }

  .particleVideo{
    position: absolute;
    opacity: .14;
    z-index: 13;
    filter: contrast(230%) brightness(100%) hue-rotate(-160deg);
  }
  .containerPrincipalHome{
    background-position: 70% ;
  }

  .btnPresale{
    background-color: rgba(0, 0, 0, 0.801);
  }

  .btnPresale p{
    font-size: 1.8rem;
  }
  


}


@media screen and (max-width:360px){

  .containerPrincipalHome::before{
    content: " ";
    position: absolute;
    bottom: -5rem;
    height: 100rem;
    width:95vw;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.87);
    filter: blur(80px);
    z-index: 12;
  }


  .titlePrincipal{
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-shadow: 0 0 5rem rgb(0, 0, 0);
    filter:  contrast(135%) brightness(120%) drop-shadow(0 0 20px black);
  }
  
  .Whitelist-buttonTitle, .Tikets-buttonTitle {
    font-size:1.8rem;
    letter-spacing: 1px;
    padding: 0rem 1.2rem;
    border-radius: .3em;
    line-height: 2.5em;
  }
  
  .buttonsHome{
    margin-left:0rem;
  }
}