.containerPrivacy{
    width: 100%;
    height: auto;
    position: relative;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1661785088/CryptocupQatar/token/BackToken_sknpmi.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    overflow: hidden;
}

.boxPrivacy{
    width: 60%;
    position: relative;
    background: #070707;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 1px inset rgba(255, 232, 182, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 20rem auto;
    padding: 10rem 0;
}

.boxPrivacy h4{
    font-size: 3rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
}

.titlePrivacy{
    font-size: 3rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    padding: 2rem 0;
}

.textPrivacy p{
    font-size: 1.9rem;
    text-align: initial;
    color: white;
    padding: 0 6rem;
    letter-spacing: 1px;
    line-height: 3rem;

}
.textPrivacy span{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    padding: 2rem 0;
}

.definicionesTyC{
    font-size: 3rem;
}

@media screen and (max-width:1440px){
    
    .boxPrivacy{
        width: 75%;
    }

    .boxPrivacy h4{
        font-size: 2.5rem;
        padding: 4rem 3rem;
    }


    .titlePrivacy{
        font-size: 2.5rem;
        padding: 3rem  ;
    }
    
    .textPrivacy p{
        font-size: 1.6rem;
        padding: 0 3rem;
    }
}


@media screen and (max-width:1050px){
    
    .boxPrivacy{
        width: 85%;
        padding-bottom: 5rem;
    }

    .boxPrivacy h4{
        font-size: 3rem;
        padding: 4rem 3rem;
    }


    .titlePrivacy{
        font-size: 3rem;
        padding: 3rem  ;
    }
    
    .textPrivacy p{
        font-size: 1.7rem;
        padding: 0 3rem;
    }
}

@media screen and (max-width:700px){
    
    .boxPrivacy{
        width: 95%;
        padding-bottom: 5rem;
    }

    .boxPrivacy h4{
        font-size: 3rem;
        padding: 4rem 3rem;
    }


    .titlePrivacy{
        font-size: 3rem;
        padding: 3rem  ;
    }
    
    .textPrivacy p{
        font-size: 1.7rem;
        padding: 0 3rem;
    }
}



@media screen and (max-width:480px){
    
    .boxPrivacy{
        width: 100%;
        padding-bottom: 5rem;
    }

    .boxPrivacy h4{
        font-size: 2.5rem;
        padding: 4rem 2rem;
    }


    .titlePrivacy{
        font-size: 1.8rem;
        padding: 3rem  0;
        margin: 0;
    }

    
    
    .textPrivacy p{
        font-size: 1.4rem;
        padding: 0 2rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width:378px){
    
    .titlePrivacy{
        font-size: 1.8rem;
        padding: 3rem  0;
        margin: 0;
    }

    .textPrivacy p{
        font-size: 1.1rem;
        padding: 0 .8rem;
        line-height: 2.1rem;
    }
}