/* model */
*{
    text-decoration: none;
}

.navMovile{
    display: none;
}


.navBallModel{
    cursor: grab;
    z-index: 999999999;
    filter:drop-shadow(0 0 20px rgba(148, 18, 255, 0.253)) contrast(110%);
    margin-top: .8rem;
    margin-left: .2rem;
    width: 100%;
    text-align: center;
    transform: scale(1);
    background-color: transparent;
}

.navBlur{
    position: fixed;
    z-index: 99999999 !important;
    width: 100%;
    top: -1rem;
    height: 9.9rem;
    background-color: rgba(40, 4, 68, 0.397);
    transition: all .6s ease-in-out;
    filter: blur(8px);
    backdrop-filter: blur(1em);
}

.nav{
    position: fixed;
    z-index: 99999999 !important;
    width: 100%;
    top: 0;
    height: 9rem;
    transition: all .6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBack{
    width: 100%;
    height: 9.3rem;
    text-align: center;
    position: fixed;
    opacity:.8;
    top: 0;
    filter: contrast(120%) brightness(110%) ;
}

.navDerecha{
    display: flex;
    justify-content: initial;
    align-items: center;
    padding-left: 5rem;
    height: 9.5rem;
    width: 80%;
    z-index: 5600;
    border-radius: 10px;
}

/* ul  */


/* nav izquierda */
.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    width: 80%;
    padding-right: 5rem;
    z-index: 5600;
    text-decoration: none;
}



.nav-menu-item {
    padding: 2rem 2rem;
    position: relative;
    list-style: none;
    text-decoration: none;
}

.nav-link {
    font-family:gilron;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color:rgb(250, 238, 215);
    padding: 0px 5px;
    border-radius: 13px;
    letter-spacing: 2px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
    filter: drop-shadow(0 0 0px rgb(188, 130, 255));
} 

.nav-link:hover{
    filter: drop-shadow(0 0 20px rgb(188, 130, 255));
    transition: filter 1s ease-in-out ;
}



  /* TOGGLE */
.nav-toggle {
    position: absolute;
    top: 53%;
    transform: translate(0, -50%);
    right: 12%;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 5500;
}

.nav-menu-item:hover > .nav-menu-link{
    transform: scale(1.5);
    filter: drop-shadow( 0 0 18px black) ;
}

.nav-menu-link i{
    font-size: 2.5rem;
    position: absolute;
    top: 3.8rem;
}

/* effect navbar */



.nav-menu-item:after {
  content: '';
  bottom: -.85rem;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 4px;
  width: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: linear-gradient(#731de2, #c59ef1);;
  -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #6200ff, 0px 0px 11px #6200ff;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 60%), 0px 0px 32px #6200ff, 0px 0px 11px #6200ff;
  -webkit-transition: all 0.3s ease-in;
  z-index: 9999999999 !important ;
  border-radius: 45px;
  transition: all 0.3s ease ;
}

.nav-menu-item:hover:after {
    width: 100%;
    height: 4px;
    filter: drop-shadow(0px -10px 8px rgba(195, 161, 250, 0.267));
}

/* button dapp  */

.lineDappButton{
    position: absolute;
    right: 10%;
    margin-top: -.4rem;
    transform: rotate(-60deg);
    width: 10.5rem;
    height: .2rem;
    border-radius: 20px;
    background-color:#fffffff5;
    border: 1.5px solid rgb(152, 150, 255);
    filter: drop-shadow(0 0 4px #7119ffe1) opacity(.8);
}


.dappTitleButton{
    position: absolute;
    right: 1.6%;
    top: .1rem;
    text-align: center;
    margin-top: 0rem;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    width: 19rem;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: gilron;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
    inset 0 -2px 5px 1px #9999ff,
    inset 0 -1px 1px 3px #9999ff;
    background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
    filter: drop-shadow(0 0 0px rgb(188, 130, 255));
}

.dappTitleButton:hover{
    filter: drop-shadow(0 0 20px rgb(188, 130, 255));
    transition: filter 1s ease-in-out ;
}

.wrapperBottonBtn {
    position: absolute;
    right: 5%;
    top: 2.5rem;
    margin-top: 0rem;
    text-decoration: none;
}

.wrapperBottonBtn .btnButtonNav {
  width: 14.5rem;
  height: 3.5rem;
  margin: 0 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btnButtonNav p {
  font-size: 2.2rem;
  letter-spacing: 3px;
  padding-top: .25rem;
  text-transform: uppercase;
  font-family:gilron;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px #9999ff,
  inset 0 -2px 5px 1px #9999ff,
  inset 0 -1px 1px 3px #9999ff;
  background-image: linear-gradient(160deg, #8f70ff, #c898ff, #d5b9ff, #ffffff, #d5b9ff, #c898ff, #8f70ff);
  
}


.dappIzquierda{
    display: none;
}

.homeIzquierda{
    display: none;
}

.comingDapp{
    text-align: center;
    color:rgb(212, 167, 255);
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: -.5rem;
    font-family: gilron;
    font-style: oblique;
    opacity: 0;
    transition: all 1s ease-in-out;
    position:absolute;
    right: 4.5%;
    top:5.6rem;
}



@media screen and (max-width: 1600px){
    .wrapperBottonBtn {
        right: 3%;
    }
}



@media screen and (max-width: 1440px){


    .comingDapp{
        right: 2.5%;
    }


    .navBack{
        height: 9.2rem;
    }

    .nav-link {
        font-size: 2rem;
        font-weight: 900;
        padding: 0px 5px;
        border-radius: 13px;
        letter-spacing: 2px;
    } 
    
    .wrapperBottonBtn {
        right: 3%;
    }

    .btnButtonNav p {
        font-size: 3rem;
        letter-spacing: 3px;
      }
      
    .nav-menu {
        width: 80%;
        padding-right: 3rem;
    }
    
    .navDerecha{
        padding-left: 3rem;
        height: 10rem;
        width: 80%;
    }
    
    .wrapperBottonBtn .btnButtonNav {
        width: 10.5rem;
    }

        
    .lineDappButton{
        right: 7.7%;
        margin-top: -1rem;
        width: 11.5rem;
        height: .2rem;
    }

    .dappTitleButton{
        right: -1%;
        font-size: 2.7rem;
        width: 19rem;
        height: 8.5rem;
    }

}


@media (max-width: 1270px){

    .navMovile{
        display: inline-block;
    }

    .navBack{
        width: 100%;
        height: 10.6rem;
        object-fit: cover;
        z-index: 6000;
    }
    
    .navBlur{
        position: fixed;
        z-index: 10000;
        width: 100%;
        top: -1rem;
        height: 10.9rem;
        background-color: rgba(40, 4, 68, 0.397);
        transition: all .2s ease-in-out;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        position: fixed;
        width: 100%;
        padding: 20px 0;
        height: 100%;
        top: 9.9rem;
        overflow-y: hidden;
        transition: all 0.2s ease-in-out;
        padding-top: 10rem;
        background-color: rgba(0, 0, 0, 0.863);
        opacity: 0;
        visibility: hidden;
    }

    .wrapperBottonBtn{
        padding-top: 4rem;
        position: relative;
    }
    
    .nav-menu_visible {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.884);
        backdrop-filter: blur(1rem);
    }

    .nav-menu-item {
        line-height: 6rem;    
    }

    .nav-menu-item {
        padding: 2rem 0rem;
        overflow: hidden;
    }
    

    .nav-menu-item a{
        font-size: 2.5rem;
    }

    .nav-toggle {
        display: block;
        z-index: 6000;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .fa-bars{
        color: rgb(250, 238, 215);
        font-size: 3.9rem;
    }

    .logo{
        z-index: 1000;
    }
    

    .logo img{
        width: 11.5rem;
        margin-top: -1.8rem;
        transition: all .3s ease-in-out;
    }

    .navDerecha{
        display: none;
    }

    .dappIzquierda{
        display: inline-block;
    }
    
    .homeIzquierda{
        display: inline-block;
    }

    .wrapperBottonBtn {
        position: relative;
        right: 0;
        top: 0;
        margin-top: 0rem;
        text-decoration: none;
      }
}

@media screen and (max-width: 480px) {

    .nav-toggle {
        right: 2.2rem;
    }
    
    .btnButtonNav p {
        font-size: 2.4rem;
        letter-spacing: 3.8px;
        padding-top: .35rem;
    }

    .navBallModel{
        margin-top: .5rem;
    }

    .nav {
        height: 10rem;
    }

    .nav-menu-item:after {
        display: none;
    }
      
}


@media screen and (max-width: 390px) {

    .nav-toggle {
        right: 5%;
    }

    .nav-menu-item {
        padding: 1rem 0rem;
        overflow: hidden;
    }
    
}

@media screen and (max-width: 290px) {

    .nav-toggle {
        right: 3%;
    }
    
}