.tournamentContainer{
    width: 100%;
    background: rgb(0,0,0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-bottom: 10rem;
    padding-top: 5rem;
}


.logoContainer{
    width: 100%;
    height: 60rem;
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logoContainer img{
    object-fit: cover;
    width: 45rem;
    border-radius: 50%;
    margin-top: -14rem;
    filter: brightness(125%) contrast(120%) drop-shadow( 0 0 40px #000000);
}

/* fondo */

.backPresentacion{
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: contrast(110%) brightness(105%) opacity(.65);
    top: -10rem;
} 

.boxTournament{
    padding-top: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    position: relative;
}

.containerTexts{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
    filter: drop-shadow(0 0 40px black);
    z-index: 100!important;
}

.titleContainers h2{
    text-align: center;
    font-size: 10rem;
    letter-spacing: 16px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgb(255, 241, 186);
    background-image: linear-gradient(160deg, #a54e07, #f0b94b, #fef1a2, #f0b94b, #a54e07);
    filter: drop-shadow( 0 0 35px rgba(255, 174, 52, 0.205)) contrast(102%) brightness(105%);
}


.tournamentTitle h3{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-size: 3.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #ff933a, #fcc250, #fef1a2, #fcc250, #ff933a);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
    font-family: qatarHeavy;
    margin-top: -2rem;
}

.subTitlePrize{
    position: relative;
    width: 48%;
    left: 50%;
    transform: translate(-50%, 0%);
}


.containerTexts p {
    color: white;
    padding: 0 1rem ;
    text-align: center;
    
}


.tournamentTitle h2{
    font-size: 7rem ;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    font-family: qatarHeavy;
    -webkit-text-stroke: 2px transparent;
}


/* bottom ticket buy */

.boxButtonTicketBuy{
    position: fixed;
    left: 6rem;
    bottom: 4rem;
    z-index: 999999 !important;
    transform: perspective(2000px);
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    transform-style: preserve-3d;
}

.boxButtonTicketBuy::before{
    position: absolute;
    content: "";
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    -webkit-animation: sdb03 2.5s ease-in-out infinite;
    animation: sdb03 2.5s  ease-in-out infinite;
    border: 2px solid rgba(154, 77, 255, 0.87);
    left: -.5rem;
    bottom: 1rem;
}


.bottomTicketBuy{
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:eco/v1660656597/CryptocupQatar/present/bottomTickets_wvjseb.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    cursor: pointer;
    filter:contrast(110%) brightness(104%) drop-shadow(0 0 30px rgba(148, 82, 255, 0.432));
}

.bottomTicketBuy::before{
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:eco/v1660656597/CryptocupQatar/present/TextoCurvo_qvv2hu.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -3.5rem;
    bottom: -3.7rem;
    position: absolute;
    content: "";
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    -webkit-animation: rotationText 2.5s ease-in-out infinite;
    animation: rotationText 20s  linear infinite;
}

.boxButtonTicketBuy:hover{
    filter: drop-shadow(0 0 20px rgba(225, 187, 255, 0.363));
    transition: all 1s ease-in-out;
}



  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 45px rgba(185, 132, 255, 0.11);
      backdrop-filter: blur(2rem);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  
@-webkit-keyframes rotationText {
    100% {
        transform: rotate(360deg);
      }
  }


  
  @keyframes rotationText {
    100% {
      transform: rotate(360deg);
    }
  }

  

@media screen and (min-width: 2550px){

    .containerTexts{
        gap: 15rem;
    }

    .titleContainers h2{
        font-size: 15rem;
    }
    
    .containerTexts p {
        line-height: 4.5rem;
        font-size: 3rem;
    }

    .containerTexts h5 {
        font-size: 5.5rem;
    }
}


@media screen and (max-width: 1440px){

    .titleContainers h2{
        padding:  0 2rem;
        font-size: 7rem;
        letter-spacing: 2px;
    }
    
    .containerTexts p {
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }

    .logoContainer img {
        width: 35rem;
    }

    .tournamentContainer {
        padding-bottom: 0rem;
    }
    .subTitlePrize{
        width: 60%;
    }
    
    .titleContainers h3 {
        padding: 2rem 5rem;
        font-size: 3rem;
    }

    .backPresentacion{
        width: 100%;
        position: absolute;
        object-fit: cover;
        filter: contrast(110%) brightness(105%) opacity(.65);
        top: 0rem;
    } 


    .boxButtonTicketBuy{
        left: 6rem;
        bottom: 1rem;
        width: 13rem;
        height: 13rem;     
    }

    .boxButtonTicketBuy::before {
        position: absolute;
        content: "";
        width: 13rem;
        height: 13rem;
        border-radius: 100%;
        animation: sdb03 2.5s ease-in-out infinite;
        left: -1.6rem;
        bottom: 1.6rem;
    }
    
    .bottomTicketBuy{
        width: 10rem;
        height: 10rem;
    }
    
    .bottomTicketBuy::before{
        width: 18rem;
        left: -4rem;
        bottom: -3.7rem;
        height: 18rem;
    }

    .logoContainer{
        width: 100%;
        height: 50rem;
    }
}


@media screen and (max-width: 1170px){

    .tournamentContainer{
        padding-bottom: 0rem;
    }
    
    .titleContainers h2{
        font-size: 7rem;
    }

    .titleContainers h3{
        padding: 2rem 5rem;
        font-size: 3rem;
    }

    .subTitlePrize{
        width: 90%;
    }
    
    .subTitleNft{
        width: 65%;
    }


}



@media screen and (max-width: 800px){
    .boxButtonTicketBuy{
        opacity: 1;
    }

    .titleContainers h2{
        font-size: 7rem;
    }

    .titleContainers h3{
        padding: 2rem 5rem;
        font-size: 3rem;
        padding-top: 4rem;
        letter-spacing: 0;
    }
    
    
    .subTitlePrize{
        width: 90%;
    }
    
    .subTitleNft{
        width: 90%;
    }

    
    .backPresentacion {
        width: 110%;
        position: absolute;
        object-fit: cover;
        filter: contrast(110%) brightness(105%) opacity(.65);
        top: 10rem;
    }

    .logoContainer img{
        margin-top: 0rem;
    }



}


@media screen and (max-width: 600px){

    .backPresentacion {
        width: 110%;
        position: absolute;
        object-fit: cover;
        filter: contrast(110%) brightness(105%) opacity(.65);
        top: 13rem;
    }

    .titleContainers h2{
        font-size: 6rem;
    }

    .titleContainers h3{
        padding: 1rem;
        font-size: 3rem;
        padding-top: 4rem;
        letter-spacing: 0;
    }
    
    
    .subTitlePrize{
        width: 94%;
    }
    
    .subTitleNft{
        width: 90%;
    }


    .backPresentacion{
        display: none;
    } 

    .boxButtonTicketBuy{
        display: none;
    }

    .boxTournament {
        padding-top: 5rem;
    }
    
}


@media screen and (max-width: 480px){
    .boxButtonTicketBuy{
        display: none;
    }
    .logoContainer::before{
       display: none;
    }

    .logoContainer{
        height: 40rem;
    }
    

    .titleContainers h3{
        padding-top: 3rem;
        font-size: 2.6rem;
    }

    
    .tournamentContainer{
        padding-bottom: 0rem;
    }
    
    .tournamentContainer::before{
        display: none;
    }

    .tournamentContainer{
        width: 100%;
        gap: 8rem;
        padding-bottom:0rem;

    }

    
    .tournamentTitle h2{
        font-size: 5.5rem !important;
        padding: 1rem;
    }

    .boxTournament{
        padding-top: 10rem;
        gap: 6rem;
    }

    .containerTexts{
        width: 100%;
        text-align: inherit;
    }

    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 3rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 2rem;
        text-align: center;
        font-size: 1.8rem;
    }

    .logoContainer{
        width: 100%;
        text-align: center;
        margin-top: 0em;
    }
    
    .logoContainer img{
        padding:0 6rem;
        width: 40rem;
    }
}

@media screen and (max-width: 395px){

    .titleContainers h3{
        padding:  1rem;
        font-size: 2rem;
    }

    .tournamentContainer::after{
        bottom: -10rem;
        width: 140%;
        height: 10rem;
        background-color: black;
    }

    .titleContainers h2{
        font-size: 4.5rem;
        padding: 0;
    }
    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 2rem;
        padding-right: 2rem;
        font-size: 1.7rem;
    }

    .logoContainer img{
        margin-left: 0rem;
        width: 100%;
    }
}


@media screen and (max-width: 345px){
    .titleContainers h2{
        font-size: 4.4rem !important;
        padding: 0;
    }

    .titleContainers h3{
        font-size: 2.2rem !important;
        padding-top: 5rem;
        padding-bottom: 0rem;
    }
}