.tournamentContainer{
    width: 100%;
    background: rgb(0,0,0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-bottom: 15rem;
}

.logoContainer{
    width: 100%;
    margin-top: 5em;
}

.logoContainer img{
    object-fit: cover;
    width: 45rem;
    filter: brightness(125%) contrast(120%) drop-shadow( 0 0 80px rgba(141, 42, 255, 0.281));
}

/* fondo */

.backPresentacion{
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: contrast(110%) brightness(115%);
    opacity: .4;
} 

.boxTournament{
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    position: relative;
}

.containerTexts{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
    filter: drop-shadow(0 0 40px black);
}

.tournamentTitle h3{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
}

.subTitlePrize{
    position: relative;
    width: 47%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.subTitleNft{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 3rem;
}

.containerTexts p {
    color: white;
    padding: 0 1rem ;
    text-align: center;
}



.tournamentTitle h2{
    font-size: 6.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media screen and (min-width: 2550px){

    .containerTexts{
        gap: 15rem;
    }

    .titleContainers h2{
        font-size: 15rem;
    }
    
    .containerTexts p {
        line-height: 4.5rem;
        font-size: 3rem;
    }

    .containerTexts h5 {
        font-size: 5.5rem;
    }
}


@media screen and (max-width: 1440px){

    .titleContainers h2{
        padding:  0 2rem;
        font-size: 6rem;
        letter-spacing: 1px;
    }
    
    .containerTexts p {
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
    }

    .subTitlePrize{
        width: 65%;
    }
    
    .subTitleNft{
        width: 65%;
        padding: 1rem 0;
    }

    .subTitleNft h5{
        padding: 4rem 0;
        font-size: 4rem;
    }

    .backPresentacion{
        width: 170rem;
        position: absolute;
        object-fit: cover;
        filter: contrast(110%) brightness(115%);
        opacity: .4;
    } 
}


@media screen and (max-width: 1170px){
    
    .titleContainers h2{
        font-size: 5.5rem;
    }

    .subTitlePrize{
        width: 70%;
    }
    
    .subTitleNft{
        width: 65%;
    }


}



@media screen and (max-width: 800px){

    .titleContainers h2{
        font-size: 4.5rem;
    }
    
    .subTitlePrize{
        width: 90%;
    }
    
    .subTitleNft{
        width: 90%;
    }
}


@media screen and (max-width: 600px){

    .titleContainers h2{
        font-size: 4rem;
    }
    
    .subTitlePrize{
        width: 94%;
    }
    
    .subTitleNft{
        width: 90%;
    }
    
}


@media screen and (max-width: 480px){



    .tournamentContainer{
        padding-bottom: 0rem;
    }
    
    .tournamentContainer::before{
        display: none;
    }

    .tournamentContainer{
        width: 100%;
        gap: 8rem;
    }
    
    .titleContainers h2{
        font-size: 5.5rem;
        padding: 1rem;
    }

    .boxTournament{
        padding-top: 10rem;
        gap: 6rem;
    }

    .containerTexts{
        width: 100%;
        text-align: inherit;
    }
    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 3rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 1rem;
        margin-left: 1rem;
        text-align: center;
        font-size: 1.8rem;
    }

    
    .logoContainer img{
        width: 34rem;
        margin-left: 6.2rem;
    }
}

@media screen and (max-width: 395px){

    .titleContainers h2{
        font-size: 4.5rem;
        padding: 0;
    }
    
    .containerTexts h5{
        text-align: center;
        padding: 3rem 2rem;
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin-top: -2rem;
    }
    
    .containerTexts p {
        padding: 0rem 2rem;
        padding-right: 2rem;
        font-size: 1.7rem;
    }

    .logoContainer img{
        margin-left: 0rem;
        width: 100%;
    }
}