.videoPubli-container{
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_2100,q_auto:low,w_1920/v1660656624/CryptocupQatar/nft/BackToken_bpo7qi.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.videoPubli-container::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: .01rem;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
 
}

.videoPubli-container::after{
    height: 2rem;
    content: " ";
    top: 0rem;
    width: 100%;
    height: .1rem;
    background-color:#fffffff5;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 1px solid rgb(178, 149, 202);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
    position: absolute;
    z-index: 1;
}

.videoPubli-texts h2{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    font-size: 7rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(180deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
    font-family: qatarHeavy;
}

.videoPubli-video{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 96rem;
    height: 55rem;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    filter: contrast(110%) brightness(105%)  ;
}

.videoPromocional{
    width: 100%;
    filter: contrast(110%) brightness(105%);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border-radius: 20px;
}

@media screen and (max-width:1440px) {
    .videoPubli-video{
        width: 60%;
    }

    .videoPubli-texts h2{
        padding: 2rem;
        font-size: 5rem;
    }

    .videoPubli-video{
        width: 79rem;
        height: 46rem;
    }
}

@media screen and (max-width:1170px) {
    .videoPubli-video{
        width: 70%;
    }

    .videoPubli-video{
        width: 70rem;
        height: 40rem;
    }
}

@media screen and (max-width:750px) {
    
    .videoPubli-video{
        width: 80%;
    }
    .videoPubli-container{
        gap: 8rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .videoPubli-video{
        width: 50rem;
        height: 29rem;
    }

}

@media screen and (max-width:558px) {
    

    .videoPubli-container{
        gap: 4rem;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 10rem;
    }

    .videoPubli-video{
        width: 50rem;
        height: 29rem;
    }

}

@media screen and (max-width:480px) {
    
    .videoPubli-video{
        width: 37rem;
        height: 22rem;
    }

    .videoPubli-container{
        padding-bottom: 10rem;
    }
    
    .videoPubli-texts h2{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
        font-size: 3rem;
    }

    .videoPubli-container::before{
        width: 110%;
        height: 100%;
        content: " ";
        top: .01rem;
        background-color: rgba(0, 0, 0, 0.973);
        position: absolute;
    }
    

}

@media screen and (max-width:378px) {
    
    .videoPubli-video{
        width: 30rem;
        height: 18rem;
    }


    .videoPubli-texts h2{
        padding: 2rem;
        font-size: 2.5rem;
    }

}