.videoPubli-container{
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-top: 14rem;
    padding-bottom: 35rem;
    background-image: url("../token/src/BackToken.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.videoPubli-container::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: .01rem;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
}

.videoPubli-container::after{
    width: 110%;
    height: 2rem;
    content: " ";
    top: 0rem;
    width: 100%;
    height: .3rem;
    background-color:#fffffff5;
    box-shadow: 0 0 20px #913cff, 0 0 25px #994bff85, 0 0 45px #9a5bffa6, 0 0 100px #af99ffce;
    border: 2px solid rgb(152, 150, 255);
    border-radius: 100%;
    backdrop-filter: blur(1rem);
    filter: drop-shadow(0 0 1px rgba(137, 63, 255, 0.336));
    position: absolute;
    z-index: 1;
}

.videoPubli-texts h2{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    font-size: 6rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(180deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
}

.videoPubli-video{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 55%;
    text-align: center;
    border: 3px groove rgba(255,255,255,.5);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
}

.videoPromocional{
    width: 100%;
    filter: contrast(110%) brightness(105%);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 4px groove rgba(255,255,255,.5);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border-radius: 20px;
}

@media screen and (max-width:1440px) {
    .videoPubli-video{
        width: 60%;
    }
}

@media screen and (max-width:1170px) {
    .videoPubli-video{
        width: 70%;
    }
}

@media screen and (max-width:750px) {
    
    .videoPubli-video{
        width: 80%;
    }
    .videoPubli-container{
        gap: 8rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }


}

@media screen and (max-width:558px) {
    
    .videoPubli-video{
        width: 90%;
    }

    .videoPubli-container{
        gap: 4rem;
    }

    .videoPubli-container{
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 10rem;
    }


}

@media screen and (max-width:430px) {
    
    .videoPubli-video{
        width: 95%;
        border: none;
    }
    .videoPubli-container{
        padding-bottom: 10rem;
    }
    
    .videoPubli-texts h2{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
        font-size: 3rem;
    }

    .videoPubli-container::before{
        width: 110%;
        height: 100%;
        content: " ";
        top: .01rem;
        background-color: rgba(0, 0, 0, 0.973);
        position: absolute;
    }
    

}

@media screen and (max-width:340px) {
    
    .videoPubli-video{
        width: 90%;
    }

    .videoPubli-texts h2{
        padding: 2rem;
        font-size: 2.5rem;
    }

}