.videoPubli-container{
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-top: 22rem;
    padding-bottom: 25rem;
    background-image: url("../token/src/BackToken.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.videoPubli-container::before{
    width: 110%;
    height: 100%;
    content: " ";
    top: -1rem;
    background-color: rgba(0, 0, 0, 0.815);
    filter: blur(15px);
    position: absolute;
}

.videoPubli-container::after{
    content: " ";
    position: absolute;
    top: -5rem;
    height: 15rem;
    width: 110vw;
    background-color: rgba(0, 0, 0, 0.877);
    filter: blur(50px);
    z-index: 1000;
}

.videoPubli-texts h5{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(180deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    letter-spacing: 1px;
    filter: drop-shadow(0 0 40px black);
}

.videoPubli-video{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 50%;
    text-align: center;
    border: 3px groove rgba(255,255,255,.5);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
}

.videoPromocional{
    width: 100%;
    filter: contrast(110%) brightness(105%);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 4px groove rgba(255,255,255,.5);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border-radius: 20px;
}

@media screen and (max-width:1440px) {
    
    .videoPubli-video{
        width: 60%;
    }
}

@media screen and (max-width:1170px) {
    
    .videoPubli-video{
        width: 70%;
    }
}

@media screen and (max-width:750px) {
    
    .videoPubli-video{
        width: 80%;
    }
    .videoPubli-container{
        gap: 8rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

@media screen and (max-width:558px) {
    
    .videoPubli-video{
        width: 90%;
    }

    .videoPubli-container{
        gap: 4rem;
    }

    
    .videoPubli-container{
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }

    
    .videoPubli-container::before{
        display: none;
    }

    .videoPubli-container::after{
        display: none;
    }
}

@media screen and (max-width:430px) {
    
    .videoPubli-video{
        width: 90%;
    }

    .videoPubli-texts h5{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
        font-size: 3rem;
    }


}

@media screen and (max-width:340px) {
    
    .videoPubli-video{
        width: 90%;
    }

    .videoPubli-texts h5{
        padding: 2rem;
        font-size: 2.5rem;
    }

    

}