

.reloj_tokenPresale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    margin-bottom: 1rem;
    
}

.reloj_tokenPresale span{
    color: rgb(255, 222, 160);
    letter-spacing: 2px;
    font-family: qatar;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    width: 8rem;
    height: 7.5rem;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px ridge rgba(212, 179, 255, 0.048);
    background-color: #000000;
    background: linear-gradient(90.23deg,#5a1f92d3 -1.47%,#3d1a77d0 99.8%);
    box-shadow: rgba(0, 0, 0, 0.281) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.247) -3px -3px 6px 1px inset;
    font-family: qatarHeavy;
}


.reloj_tokenPresale li{
    font-size: 1.4rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: .5px;
    font-family:gilron;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    font-family: qatar;
}


@media screen and (max-width:1440px) {
    
    .reloj_tokenPresale{
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .reloj_tokenPresale span{
        border-radius: 5px;
        width: 6rem;
        height: 5.5rem;
        font-size: 2rem;
    }

    .reloj_tokenPresale li{
        font-size: 1.2rem;
        gap: 1rem;
    }

}


@media screen and (max-width:480px) {

    .reloj_tokenPresale{
        gap: 1.5rem;
        margin-bottom: .5rem;
    }

    .reloj_tokenPresale span{
        border-radius: 5px;
        width: 5.5rem;
        height: 5rem;
        font-size: 2rem;
    }

    .reloj_tokenPresale li{
        font-size: 1.2rem;
        gap: 1rem;
    }

}


@media screen and (max-width:378px) {

    .reloj_tokenPresale{
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .reloj_tokenPresale span{
        border-radius: 5px;
        width: 6rem;
        height: 5.5rem;
        font-size: 2.3rem;
    }

    .reloj_tokenPresale li{
        font-size: 1.4rem;
        gap: 1rem;
    }

}