.containerTikets{
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0rem;
    gap: 2rem;
    padding-bottom:75rem ;
    z-index: 2500 !important;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_1470,q_auto:low,w_1750/v1660656624/CryptocupQatar/nft/BackToken_bpo7qi.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backTikets{
    object-fit: cover;
    filter: contrast(125%) brightness(115%)  ;
    height: 105%;
    width: 100%;
    z-index: -1;
    opacity: .97;
    position: absolute;
    height: 272rem;
}

.containerTikets::after{
    content:"";
    position: absolute;
    height: 100%;
    top: 0rem;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.400);
    z-index:-2;
}


.backTiketsMovile{
    display: none;
}


.containerTikets::before{
    width: 80%;
    height: 80%;
    content: " ";
    left: -10rem;
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.863);
    filter: blur(30px) ;
    position: absolute;
    overflow: hidden;
}
.diviTicket{
    width: 100%;
}


.tiketsTitle h2{
    font-size: 6rem;
    margin-top:8rem;
    letter-spacing: 0px;
    line-height: 6.5rem;
    font-family: qatarHeavy;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
}

.textTikets{
    position: relative;
    width: 48.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:2rem;
    padding-bottom: 5rem;
    color: white;
    text-align: center;
}


.tiketImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 10rem;
}



/* boost basic */

.boxTickets-Home-basic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    position: relative;
    width: 70%;
    margin-top: 10rem;
    margin-left: 0rem;
    padding-bottom: 5rem;
}

.boxTicketBasic_button , .boxTicketBoost_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    cursor: pointer;
}

.boxTicketBasic_button a, .boxTicketBoost_button a{
    text-decoration: none;
    margin-left: 1.5rem;
}


.boxTickets-Home-boost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    position: relative;
    width: 70%;
    margin-top: 10rem;
    margin-left: 12rem;
    padding-bottom: 5rem;
}



.titleTicket-home-basic{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    gap: 5rem;
    margin-top: -10rem;
}

.titleTicket-home-boost{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 5rem;
    margin-top: 0rem;
    
}

.titleTicket-home-basic h2{
    font-size: 5rem ;
    line-height:4.5rem;
    letter-spacing: 2.5px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    font-family: qatarHeavy;
    text-align: initial;
}

.titleTicket-home-boost h2{
    font-size: 5rem ;
    line-height:4.5rem;
    letter-spacing: 2.5px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    font-family: qatarHeavy;
    text-align: initial;
}

.textoTicket-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
}

.textoTicket-home p{
    color: white;
    text-align: initial;
}


.tiketsPreview {
    width: 53%;
    position: relative;
    padding: .5rem 0rem;
    object-fit: cover;
    filter: contrast(110%) brightness(105%)  drop-shadow(0 0 100px rgba(164, 85, 255, 0.26)) ;
    animation-iteration-count: infinite;
    animation-duration: 3500ms;
    animation-name: ticketVolador;
    position: relative;
    cursor: pointer;
}

.tiketImg-boost, .tiketImg-basic{
    text-align: center;
    margin-left: 2rem;
}
  

.tiketImg-basic{
    text-align: center;
    margin-top: -7rem;
    margin-right: 1rem;
}


@keyframes ticketVolador {
    0% {
        transform: translate(0 , -.5%) scale(1.025);
    }
  
    50% {
        transform: translate(0 , 0%) scale(1);
    }

    100% {
        transform: translate(0 , -.5%) scale(1.025);
    }
}

.textoTicket-home ul {
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0;
}

.textoTicket-home li {
    list-style:none;
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    gap: 2rem;
    width: 15rem;
    letter-spacing: 0px;
    align-items: center;
    text-align: center;
    padding: .5rem 0;
    font-size: 1.6rem;
    font-style: italic;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(204, 150, 43, 0.4),
    inset 0 -2px 5px 1px rgb(207, 151, 105),
    inset 0 -1px 1px 3px rgb(255, 236, 159);
    background-image: linear-gradient(180deg, rgb(216, 138, 74), #e7bd69, #fff199, #e7bd69, rgb(216, 138, 74));
    font-family: qatarHeavy;
    text-transform: uppercase;
}

.textoTicket-home ul li img {
    width: 7rem;
    filter: drop-shadow(0 0 4px rgba(253, 137, 60, 0.63)) contrast(105%) brightness(150%) ;
}

.star1{
    margin-top: 3rem;
    bottom: 0;
}

.star2{
    margin-top:-6rem;
}
.star3{
    margin-top: -3rem;
    bottom: 0;
}

.star4{
    margin-top:4rem;
}


.division{
    position: absolute;
    bottom: -16rem !important;
}

.division img{
    object-fit: cover;
    filter: contrast(130%) hue-rotate(230deg) brightness(110%) opacity(.8);
}



@media screen and (min-width:2000px) {

    .division{
        position: absolute;
        bottom: -45.5rem !important;
    }

}



@media screen and (max-width:1540px){

    .division{
        position: absolute;
        bottom: -3rem !important;
        z-index: 1000;
        margin-left: 0rem;
    }
    
    .division img{
        object-fit: cover;
        filter: contrast(110%) hue-rotate(230deg) brightness(110%) opacity(.8);
    }

    .boxTickets-Home-basic, .boxTickets-Home-boost {
        gap: 5rem;
        width: 100%;
        margin-top: 10rem;
        margin-left: 8rem;
    }

    .tiketsTitle h2{
        font-size: 5rem;
    }

    .containerTikets{
        width: 100%;
        gap: 2rem;
    }

    .textTikets{
        width: 65%;
        gap:3rem;
    }
    
    .textTikets p{
        padding: 0rem 4rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.9rem;
        text-align: center;
    }

    .tiketsPreview{
        width: 15rem;
    }

    .textoTicket-home p{
        margin-top: 0rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.8rem;
    }
    

    .backTikets{
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    .titleTicket-home-boost h2, .titleTicket-home-basic h2  {
        font-size: 4rem;
        line-height:4.5rem;
        letter-spacing: 2.5px;
    }


    .textoTicket-home li {
        gap: 2rem;
        width: 15rem;
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }

    .textoTicket-home ul li img {
        width: 6rem;
    }

    .titleTicket-home-boost {
        width: 45%;
        gap:6rem;
    }
    
}


@media screen and (max-width:1170px){

    .textTikets{
        width: 75vw;
        gap:3rem;
        text-align: center;
    }

    .boxTickets-Home-basic, .boxTickets-Home-boost {
        margin-left: 0rem;
    }
    .division{
        margin-left: 0rem;
    }
    .containerTikets::before{
        width: 85%;
        height: 74%;
        content: " ";
        top: 0rem;
        background-color: rgba(0, 0, 0, 0.623);
        filter: blur(40px) ;
        position: absolute;
        overflow: hidden;
    }
    
    .textoTicket-home li {
        gap: 2rem;
        width: 15rem;
        padding: 5.5rem 0;
        font-size: 1.6rem;
    }

    .textoTicket-home {
        gap: 23rem;
    }


    .star1{
        margin: 0;
        top: -2rem;
        left: 12%;
        position: absolute;
    }

    .star2{
        margin: 0;
        top: 48.5rem;
        left: 50%;
        position: absolute;
    }

    .star4{
        margin: 0;
        top: 31.5rem;
        left: 50%;
        position: absolute;
    }

    .star3{
        margin: 0;
        top: 37rem;
        left: 12%;
        position: absolute;
    }
    

}


@media screen and (max-width:942px){

    .division{
        position: absolute;
        bottom: 2rem !important;
        z-index: 1000;
        display: none;
    }

    .division img{
        object-fit: cover;
        filter: contrast(130%) hue-rotate(230deg) brightness(110%) opacity(.8);
    }

    .containerTikets{
        padding-bottom: 25rem;
        background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/c_scale,h_2100,q_auto:low,w_2500/v1660656624/CryptocupQatar/nft/BackToken_bpo7qi.webp");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .backTikets{
        display: none;
    }

    .containerTikets::before{
        width: 110%;
        height: 100%;
        content: " ";
        top: 0rem;
        background-color: rgba(0, 0, 0, 0.623);
        filter: blur(40px) ;
        position: absolute;
        overflow: hidden;
    }

    .containerTikets::after{
        content:"";
        position: absolute;
        height: 100%;
        top: 0rem;
        width: 110%;
        background-color: rgba(0, 0, 0, 0.400);
        z-index:-2;
    }

    .textTikets{
        padding: 0 0rem;
    }


    .titleTicket-home-boost {
        width: 60%;
    } 

    .star1{
        margin: 0;
        top: -2rem;
        left: 12%;
    }

    .star2{
        margin: 0;
        top: 57%;
        left: 50%;
    }

    .star4{
        margin: 0;
        top: 36%;
        left: 50%;
    }

    .star3{
        margin: 0;
        top: 37rem;
        left: 12%;
    }
    
    .tiketsTitle{
        padding-top: 2rem;
        font-size: 5rem;
    }

}


@media screen and (max-width:750px){
    .textTikets{
        width: 100vw;
        padding: 0 2rem;
    }

    .tiketImg-boost, .tiketImg-basic{
        text-align: center;
        margin-left: 0rem;
    }
      
    .tiketImg-basic{
        text-align: center;
        margin-top: 0rem;
        margin-right: 0rem;
    }
    .textoTicket-home p {
        text-align: center;
    }

    .division{
        position: absolute;
        bottom: -27rem;
        z-index: 1000;
    }

    .division img{
        object-fit: cover;
        filter: contrast(130%) hue-rotate(230deg) brightness(110%) opacity(.8);
    }


    .boxTickets-Home-basic{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 10rem;
        position: relative;
        width: 180vw;
        margin-top: 10rem;
        padding-bottom: 0rem;
    }

    .boxTickets-Home-boost{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10rem;
        position: relative;
        width: 130vw;
        margin-top: 10rem;
        padding-bottom: 0rem;
    }

    .containerTikets {
        padding-bottom: 20rem;
    }
   
    .division{
        display: none;
    }

    .tiketImg-basic {
        text-align: center;
        order: 2;
    }

    .star1{
        left: 10%;
    }

    .star2{
        left: 60%;
    }

    .star4{
        left: 60%;
    }

    .star3{
        left: 10%;
    }

    
    .textoTicket-home li {
        font-size: 1.4rem;
    }
    
    .tiketsTitle h2{
        font-size: 4.4rem ;
        text-align: center;
        letter-spacing: 0;
        line-height: 4.4rem;
    }

    .titleTicket-home-boost h2, .titleTicket-home-basic h2 {
        text-align: center;
        padding-top: 5rem;
    }

    .boxTicketBasic_button {
        flex-direction: column-reverse;
    }

    .boxTicketBasic_button a, .boxTicketBoost_button a{
        margin-left: 0;
    }
}

@media screen and (max-width:480px){



    .tiketsPreview {
        animation: none;
    }

    .boxTickets-Home-basic{
        width: 200vw;
    }

    .containerTikets{
        width: 100%;
        z-index: 10;
        margin-top: 0rem;
        gap: 0rem;
        padding-top: 0rem;
        padding-bottom: 10rem ;
        text-align: center;
    }

    .containerTikets::before{
        background-color: rgba(21, 1, 53, 0.336);
    }

    .titleTicket-home-basic h2, .titleTicket-home-boost h2 {
        text-align: center;
    }
    
    .boxTickets-Home-basic p, .boxTickets-Home-boost p{
        text-align: center;
    }

    .containerReferidos {
        margin-top: 0rem !important;
    }

 
    .textTikets{
        width: 100%;
        gap:5rem;
    }

    .tiketsTitle {
        margin-top: 3.5rem;
        font-size: 5rem;
    }
    
    .textTikets p{
        padding: 0rem 2rem;
        text-align: center;
        color: white;
        padding-bottom: 8rem;
    }


    .tiketsPreview{
        width: 50%;
        object-fit: cover;
    }

    .qatarPng{
        display: none;
    }

    .tiketImg{
        gap: 5rem;
    }


    .titleTicket-home-boost{
        width: 50%;
    }

    .division{
        display: none;
    }

    
    .titleTicket-home-basic h2 ,  .titleTicket-home-boost h2 {
        font-size: 4rem;
    }

    .boxTickets-Home-boost{
        width: 170vw;
    }

    .star1{
        left: 2%;
    }

    .star2{
        left: 53%;
        top: 56.5%;
    }

    .star4{
        left: 53%;
        top: 38.2%;
    }

    .star3{
        left: 2%;
    }

    .star1 img , .star2 img , .star3 img , .star4 img{
        width: 6rem !important;
    }

   
    .tiketsTitle h2{
        font-size: 4rem ;
        text-align: center;
        letter-spacing: 0;
        line-height: 4rem;
        margin-top: 0rem;
    }
    .textTikets {
        padding: 0 1rem;
    }

    .tiketsTitle h3{
        font-size: 3.2rem ;
        text-align: center;
        letter-spacing: 0;
        line-height: 4rem;
        margin-top: 3rem;
    }

}


@media screen and (max-width:378px){

    .containerTikets p{
        font-size: 1.7rem;
    }

   .boxTickets-Home-boost p{
        font-size: 1.7rem;
        width: 92%;
    }

    .titleTicket-home-basic h2 ,  .titleTicket-home-boost h2 {
        font-size: 3rem;
    }

    .titleTicket-home-boost h2 {
        margin-left: -3.5rem;
    }


}


@media screen and (max-width:350px){
    
    .textTikets p{
        padding: 0rem 1rem;
        font-size: 1.6rem;
        text-align: center;
    }
    .boxTickets-Home-boost p{
        width: 85%;

    }

    .titleTicket-home-boost h2 {
        margin: 0;
    }

    .boxTickets-Home-boost{
        width: 190vw;
    }

    .tiketsTitle h2 {
        font-size: 3rem;
    }
    .tiketsTitle h3 {
        font-size: 2.5rem;
    }

    .textoTicket-home li {
        font-size: 1.3rem;
    }


    .star1 img , .star2 img , .star3 img , .star4 img{
        width: 5rem !important;
    }
 
}

