.containerTikets{
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    gap: 2rem;
    padding-bottom: 20rem ;
    z-index: 500;
}

.containerTikets::after{
    content:"";
    position: absolute;
    top: -4rem;
    height: 10rem;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.966);
    filter: blur(20px);
}



.tiketsTitle h2{
    font-size: 7.5rem;
    letter-spacing: 3px;
}

.textTikets{
    position: relative;
    width: 46.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5rem;
}

.textDescripcionTikets{
    color: white;
    text-align: center;
    font-size: 2.2rem;
    padding: .5rem 6rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.tiketImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 10rem;
}

.tiketsPreview{
    width: 15%;
    object-fit: contain;
    filter: contrast(105%) ;
    cursor: pointer;
}

.tiketsPreview:hover{
    filter: drop-shadow(0 0 10px #4f4c809a);
    transform: scale(1.04);
    transition: all .6s ease-in-out;
}


/* boost basic */


.titleTicket-home{
    width: 100%;
    text-align: center;
}

.titleTicket-home{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
}

.titleTicket-home h2{
    font-size: 3.5rem;
    line-height:4rem;
    letter-spacing: 2.5px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(204, 150, 43, 0.4),
    inset 0 -2px 5px 1px rgb(207, 151, 105),
    inset 0 -1px 1px 3px rgb(255, 236, 159);
    background-image: linear-gradient(180deg, rgb(216, 138, 74), #e7bd69, #fff199, #e7bd69, rgb(216, 138, 74));
}

.textoTicket-home p{
    font-size: 1.8rem;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -2rem;
    padding: 0 10rem;
    line-height: 2.7rem;
    text-transform: uppercase;
}


.backTikets{
    object-fit: cover;
    filter: contrast(120%) opacity(.8) ;
}

@media screen and (min-width: 2550px){

    .titleTicket-home h2{
        font-size: 6rem;
        line-height:4rem;
        letter-spacing: 2.5px;
    }

    .textTikets p{
        font-size: 3.5rem;
        line-height: 4.7rem;
        text-align: center;
        padding-top: 1rem;
    }

    .textoTicket-home p{
        font-size: 2.8rem;
        margin-top: 0rem;
        padding: 1rem 10rem;
        line-height: 4rem;
        text-transform: uppercase;
    }
    
}

@media screen and (max-width:1440px){

    .tiketsTitle h2{
        font-size: 5rem;
    }

    .containerTikets{
        width: 100%;
        padding-top: 8rem;
        gap: 2rem;
        padding-bottom: 10rem ;
    }

    .backgroundReflejo{
        width: 100vw;
        object-fit: cover;
    }

    .textTikets{
        width: 50vw;
        gap:3rem;
    }
    
    .textTikets p{
        padding: 0rem 2rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .tiketsPreview{
        width: 22rem;
    }

    .textoTicket-home p{
        margin-top: 0rem;
    }
    

}


@media screen and (max-width:1170px){


    .textTikets{
        width: 75vw;
        gap:3rem;
    }
    
    .textTikets p{
        padding: 0rem 2rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .tiketsPreview{
        width: 22rem;
    }

    .tiketImg{
        gap: 2rem;
    }
}


@media screen and (max-width:600px){
    .textTikets{
        width: 100vw;
    }
}

@media screen and (max-width:480px){
    .tiketsTitle h2{
        font-size: 4.5rem;
    }
    

    .containerTikets{
        width: 100%;
        z-index: 10;
        margin-top: 5rem;
        gap: 0rem;
    }
    
    .textTikets{
        width: 100%;
        gap:5rem;
    }
    
    .textTikets p{
        padding: 0rem 0rem;
        padding-left: 2rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.6rem;
        text-align: inherit;
        margin-left: 2rem;
    }

    .tiketsPreview{
        width: 50%;
        object-fit: cover;
    }

    .qatarPng{
        display: none;
    }

    .tiketImg{
        gap: 5rem;
    }
}

