.containerTikets{
    width: 100%;
    background: rgb(0,0,0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 28rem;
    gap: 2rem;
    padding-bottom: 15rem ;
}

.tiketsTitle{
    margin-top: -10rem;
}

.textTikets{
    position: relative;
    width: 45vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5rem;
}

.textTikets p{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 6rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.tiketImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 10rem;
}

.tiketsPreview{
    width: 15%;
    object-fit: contain;
    filter: contrast(105%) ;
    cursor: pointer;
}

.tiketsPreview:hover{
    filter: drop-shadow(0 0 10px #4f4c809a);
    transform: scale(1.04);
    transition: all .6s ease-in-out;
}

@media screen and (min-width: 2550px){
    .textTikets p{
        font-size: 3.5rem;
        line-height: 4.5rem;
        text-align: center;
    }
}

@media screen and (max-width:1440px){

    .containerTikets{
        width: 100%;
        margin-top: 4rem;
        gap: 2rem;
    }

    .textTikets{
        width: 50vw;
        gap:3rem;
    }
    
    .textTikets p{
        padding: 0rem 2rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .tiketsPreview{
        width: 22rem;
    }

}


@media screen and (max-width:1170px){

    .textTikets{
        width: 75vw;
        gap:3rem;
    }
    
    .textTikets p{
        padding: 0rem 2rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .tiketsPreview{
        width: 22rem;
    }

    .tiketImg{
        gap: 2rem;
    }
}


@media screen and (max-width:600px){
    .textTikets{
        width: 85vw;
    }
}

@media screen and (max-width:480px){

    .containerTikets{
        width: 100%;
        z-index: 10;
        margin-top: 5rem;
        gap: 0rem;
    }
    
    .textTikets{
        width: 100%;
        gap:5rem;
    }
    
    .textTikets p{
        padding: 0rem 4rem;
        padding-right: 2rem;
        letter-spacing: 1px;
        line-height: 3rem;
        font-size: 1.6rem;
        text-align: inherit;
    }

    .tiketsPreview{
        width: 50%;
        object-fit: cover;
    }

    .qatarPng{
        display: none;
    }

    .tiketImg{
        gap: 5rem;
    }
}

