.containerPresale{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/dvrxw8fbg/image/upload/q_auto:low/v1661785088/CryptocupQatar/token/BackToken_sknpmi.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.containerPresale::before{
    width: 100%;
    height: 100%;
    content: " ";
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
}

.boxPresale{
    padding: 3rem 7rem;
    position: relative;
    top: 54%;
    left: 50%;
    width: 75rem;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    box-shadow: rgba(255, 205, 147, 0.311) 3px 3px 6px 0px inset, rgba(255, 205, 147, 0.311) -3px -3px 6px 1px inset;
    backdrop-filter: blur(5px);
    background-color: rgba(22, 0, 73, 0.055);
    filter: drop-shadow( 0 0 10px rgba(255, 255, 255, 0.021));
    
}

.boxPresale h2{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform:translateZ(50px) ;
    font-family:gilron;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);

}

.boxPresale h3{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family:gilron;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    
}


.box_cct{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    width: 110%;
    margin: 1rem 0;
}

.box_cct p{
    width: 100%;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5rem;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
}



/* barra progresiva */

.progress {
	background-color: #120f1a;
	position: relative;
	margin: 2rem 0;
    margin-top: 3rem;
	height: 5rem;
    width: 110%;
    font-size: 1.8rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #0000007e, #8c5bff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
}

.progress-done {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.progress-done p{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    font-weight: bold;
    filter: drop-shadow(0 0 5px black);
    font-size:1.9rem;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
}

.boxPresale strong{
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
}



.soft_cap_progress{
    height: 4rem;
    border: 1px solid rgba(255, 218, 188, 0.404);
    border-left: none;
    position: absolute;
    left: 25%;
    top: -1.1rem;
    z-index: -1;
    
}
.soft_cap_progress::before{
    content:"SOFT CAP";
    position: absolute;
    font-size: 1rem;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    width: 6rem;
    letter-spacing: 1px;
    top: -2rem;
    left: -2.8rem;
}


/* box soft */

.soft{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    width: 110%;
    text-align: center;
}

.user_buy_wallet{
    width: 110%;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -1rem;
    padding: .5rem ;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
}

.soft p{
    width: 100%;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5rem ;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    border-radius: 5px;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
}



/* buttons */


.connect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 110%;
    height: 6rem;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    border-radius: 5px;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
/*     cursor: pointer; */
    transition: all .5s ease;
    background-color: rgba(165, 165, 165, 0.322);
}



.connect p{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    font-weight: bold;
    font-family: gilron;
/*     filter: drop-shadow(0 0 5px black); */
    font-size:2.4rem;
/*     -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    */ color: rgb(163, 163, 163) ;
    text-transform: uppercase;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.363);

}


/* nav buy presale */

.nav_buy_presale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 1rem;
    width: 110%;
    height: 6rem;
    border-radius: 5px;
    transition: all .5s ease;
    gap: .3rem;
    border: none;
}

.box_tokens_presale{
    width: 25%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
    border-radius: 5px;
    cursor: pointer;

}


/* amount */

.box_amount_presale{
    width: 50%;
    height: 100%;
    position: relative;
    border: none;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
    border-radius: 5px;
}

.box_amount_presale input{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
    border: none;
}


.box_amount_presale input::placeholder {
    font-size: 1.3rem;
    position: absolute;
    letter-spacing: 1px;
    color: rgba(129, 129, 129, 0.692);
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* buy */

.box_buy_presale{
    width: 25%;
    height: 100%;
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(to right, #00000011, #9e74ff1f);
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
    border-radius:5px;
    cursor: pointer;

}

.box_buy_presale:active{
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.308);
    filter: drop-shadow( 0 0 10px rgba(255, 255, 255, 0.281));
}

.box_buy_presale p{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    font-weight: bold;
    filter: drop-shadow(0 0 5px black);
    font-size:2rem;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
}



/* select  token*/


.select_token_presale{
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

.imgTokenSelect{
    width: 5rem;
    object-fit: cover;
    height: 5rem;
    
}

/* box */


.radio_token_presale{
    width: 95%;
    height: 95%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 6rem;
    top: 2rem;
    left: 1.7rem;
    text-align: center;
    box-shadow: rgba(255, 204, 128, 0.055) 3px 3px 6px 0px inset, rgba(255, 229, 195, 0.11) -3px -3px 6px 1px inset;
    visibility: hidden;
    opacity: 1;
    transition: all .3s ease;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.973);
    backdrop-filter: blur(1rem);
    cursor: auto;
}

.radio_token_presale_active{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.control_radio_presale{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    width: 18rem;
    cursor: pointer;
    position: relative;
}

.control_radio_presale p{
    font-size: 2.5rem;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgb(204, 111, 34),
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #fa9d51, #fcc250, #fef1a2, #fcc250, #f79647);
}

.LogoToken{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.LogoToken:hover{
    filter: drop-shadow(0 0 10px rgba(181, 149, 255, 0.603));
}

.radio_token_presale input{
    display: none;
}

.radio_presale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


@media screen and (max-width:1440px) {

    .containerPresale{
        height: 120vh;
        width: 100%;
    }
    
    .containerPresale::before{
        width: 100%;
        height: 120vh;
        content: " ";
        top: 0rem;
        background-color: rgba(0, 0, 0, 0.568);
        position: absolute;
    }
    
    
    .boxPresale{
        padding: 2rem 6rem;
        top: 55%;
        left: 50%;
        gap: 1rem;
    }

    .boxPresale h2{
        font-size: 3.5rem;
        letter-spacing: 1px;
    }

    .boxPresale h3{
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }


    .box_cct{
        width: 110%;
        margin: .3rem 0;
        flex-direction: column;
    }

    .box_cct p{
        font-size: 1.5rem;
        padding: .3rem;
    }



    /* barra progresiva */

    .progress {
        margin: 1rem 0;
        margin-top: 3rem;
        height: 5rem;
        width: 110%;
        font-size: 1.8rem;
    }

    .progress-done p{
        width: 100%;
        font-size:1.9rem;
    }

    .soft_cap_progress{
        height: 4rem;
        left: 25%;
        top: -1.1rem;
    }

    
    /* box soft */

    .soft{
        gap: 1rem;
        width: 110%;
    }

    .user_buy_wallet{
        width: 110%;
        font-size: 1.5rem;
        margin-top: 0rem;
        padding: .3rem ;
    }

    .soft p{
        width: 100%;
        font-size: 1.5rem;
        padding: .3rem ;
    }

    /* buttons */

    .connect{
        margin-top: 1rem;
        width: 110%;
        height: 5rem;
    }

    .connect p{
        width: 100%;
        font-size:2rem;
    }

}


@media screen and (max-width:765px) {

    .containerPresale{
        height: 100vh;
        width: 100%;
    }
    
    .containerPresale::before{
        width: 100%;
        height: 100vh;
        content: " ";
        top: 0rem;
        background-color: rgba(0, 0, 0, 0.568);
        position: absolute;
    }
    
    
    .boxPresale{
        padding: 2rem 0rem;
        top: 55%;
        left: 50%;
        gap: 1rem;
        width: 45rem;
    }

    .boxPresale h2{
        font-size: 3.5rem;
        letter-spacing: 1px;
    }

    .boxPresale h3{
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }


    .box_cct{
        width: 92%;
        margin: .5rem 0;
        flex-direction: column;
    }

    .box_cct p{
        font-size: 1.2rem;
        padding: .5rem;
    }
    .boxPresale strong{
        font-size: 1.3rem;
    }
    


    /* barra progresiva */

    .progress {
        margin: 1rem 0;
        margin-top: 3rem;
        height: 5rem;
        width: 92%;
        font-size: 1.8rem;
    }

    .progress-done p{
        width: 100%;
        font-size:1.9rem;
    }

    .soft_cap_progress{
        height: 4rem;
        left: 25%;
        top: -1.1rem;
    }

    
    /* box soft */

    .soft{
        gap: 1rem;
        width: 92%;
        flex-direction: column;
    }

    .user_buy_wallet{
        width: 92%;
        font-size: 1.3rem;
        margin-top: 0rem;
        padding: .5rem ;
    }

    .soft p{
        width: 100%;
        font-size: 1.3rem;
        padding: .5rem ;
    }



    /* buttons */

    .connect{
        margin-top: 2rem;
        width:92%;
        height: 7rem;
    }

    .connect{
        margin-top: 1rem;
        width: 92%;
        height: 6rem;
    }

    .connect p{
        width: 100%;
        font-size:2.4rem;
    }


    

    /* nav buy presale */

    .nav_buy_presale{
        margin-top: 1rem;
        width: 92%;
        height: 6rem;
        gap: .3rem;
    }

    .box_tokens_presale{
        width: 25%;
        height: 100%;
    }


    /* amount */

    .box_amount_presale{
        width: 50%;
        height: 100%;
    }

    .box_amount_presale input{
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        font-size: 2rem;
    }

    /* buy */

    .box_buy_presale{
        width: 25%;
        height: 100%;
    }


    .box_buy_presale p{
        width: 100%;
        font-size:2rem;
    }

    /* select  token*/

    .select_token_presale{
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    .imgTokenSelect{
        width: 5rem;
        height: 5rem;
    }

    /* box */

    .radio_token_presale{
        width: 95%;
        height: 95%;
        padding: 2rem;
        gap: 6rem;
        top: 2rem;
        left: 1.7rem;
    }

    .control_radio_presale{
        gap: 3rem;
        width: 18rem;
    }

    .control_radio_presale p{
        font-size: 2.5rem;
    }

    .LogoToken{
        width: 5rem;
        height: 5rem;
    }


}




@media screen and (max-width:480px) {

    .containerPresale{
        height: 100vh;
        width: 100%;
    }
    
    .containerPresale::before{
        width: 100%;
        height: 100vh;
        content: " ";
        top: 0rem;
        background-color: rgba(0, 0, 0, 0.568);
        position: absolute;
    }
    
    .boxPresale{
        padding: 1.5rem 0rem;
        top: 51%;
        left: 45%;
        gap: 1rem;
        width: 40rem;
        margin-top: 1.2rem;
        scale: .9;
    }

    .boxPresale h2{
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .boxPresale h3{
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }

    .box_cct{
        width: 92%;
        margin: .3rem 0;
        flex-direction: column;
    }

    .box_cct p{
        font-size: 1.2rem;
        padding: .3rem;
    }
    .boxPresale strong{
        font-size: 1.3rem;
    }


    /* barra progresiva */

    .progress {
        margin: .5rem 0;
        margin-top: 2.5rem;
        height: 4rem;
        width: 92%;
        font-size: 1.8rem;
    }

    .progress-done p{
        width: 100%;
        font-size:1.8rem;
    }

    .soft_cap_progress{
        height: 3rem;
        left: 25%;
        top: -1.1rem;
    }

    
    /* box soft */

    .soft{
        gap: 1rem;
        width: 92%;
        flex-direction: column;
    }

    .user_buy_wallet{
        width: 92%;
        font-size: 1.3rem;
        margin-top: 0rem;
        padding: .3rem ;
    }

    .soft p{
        width: 100%;
        font-size: 1.3rem;
        padding: .3rem ;
    }


    /* buttons */


    .connect{
        margin-top: .3rem;
        width: 92%;
        height: 5rem;
        margin-bottom: 1rem;
    }

    .connect p{
        width: 100%;
        font-size:2rem;
    }


    /* nav buy presale */

    .nav_buy_presale{
        margin-top: 1rem;
        width: 92%;
        height: 6rem;
        gap: .3rem;
    }

    .box_tokens_presale{
        width: 25%;
        height: 100%;
    }


    /* amount */

    .box_amount_presale{
        width: 50%;
        height: 100%;
    }

    .box_amount_presale input{
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        font-size: 2rem;
    }

    /* buy */

    .box_buy_presale{
        width: 25%;
        height: 100%;
    }


    .box_buy_presale p{
        width: 100%;
        font-size:2rem;
    }

    /* select  token*/

    .select_token_presale{
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    .imgTokenSelect{
        width: 5rem;
        height: 5rem;
    }

    /* box */

    .radio_token_presale{
        width: 95%;
        height: 95%;
        padding: 2rem;
        gap: 6rem;
        top: 2rem;
        left: 1rem;
    }

    .control_radio_presale{
        gap: 3rem;
        width: 18rem;
    }

    .control_radio_presale p{
        font-size: 2.5rem;
    }

    .LogoToken{
        width: 5rem;
        height: 5rem;
    }


}



@media screen and (max-width:406px) {

    .boxPresale{
        width: 37rem;
    }

}

@media screen and (max-width:378px) {

    .boxPresale{
        width: 31rem;
    }

}